<nav class="navbar">
  <a class="navbar-brand text-center" href="#">
    {{titulo}}
  </a>
</nav>
<form>
  <div class="row mt-3">
    <div class="form-group col-sm-7">
      <label for="cliente">Cliente</label>
      <input type="text" class="form-control" [(ngModel)]="vehiculo.cliente_idCliente" (ngModelChange)="getClienteByCc($event)" list="listaCliente" name="cliente" id="cliente" placeholder="Ingresar cliente" required>
      <datalist id="listaCliente"> 
        <option *ngFor="let cliente of clientes" [value]="cliente.cc_cliente">
          {{ cliente.nombres_cliente }} {{ cliente.apellidos_cliente }}
        </option>
      </datalist>  
      <small class="text-muted">Obligatorio</small>
    </div>
    <div class="form-group col-sm-5">
      <label for="tipoVehiculo">Tipo de vehiculo</label>
      <select id="tipoVehiculo" class="form-control" [(ngModel)]="vehiculo.tipoVehiculos" name="tipoVehiculo" required>
        <option *ngFor="let i of [0, 1]" [value]="tipoVehiculo[i]">
          {{ tipoVehiculo[i] }}
        </option>
      </select>
      <small class="text-muted">Obligatorio</small>
    </div>

    <ng-container *ngIf="cliente">
      <div class="form-group col-sm-7">
        <label for="nombreCompleto">Nombre completo</label>
        <input type="text" class="form-control" [value]="nombreCompleto" name="nombreCompleto" id="nombreCompleto" disabled>
      </div>
      <div class="form-group col-sm-5">
        <label for="telefono">Teléfono</label>
        <input type="text" class="form-control" [value]="cliente.cel_cliente" name="telefono" id="telefono" disabled>
      </div>
      <div class="form-group col-sm-7">
        <label for="direccion">Dirección</label>
        <input type="text" class="form-control" [value]="cliente.direccion_cliente" name="direccion" id="direccion" disabled>
      </div>
      <div class="form-group col-sm-5">
        <label for="email">Correo</label>
        <input type="text" class="form-control" [value]="cliente.correo_cliente" name="email" id="email" disabled>
      </div>
    </ng-container>

    <div class="form-group col-sm-3">
      <label for="placa">Placa</label>
      <input type="text" class="form-control" [(ngModel)]="vehiculo.placa_vh" name="placa" id="placa" placeholder="Ingresar placa" required>
      <small class="text-muted">Obligatorio</small>
    </div>

    <div class="form-group col-sm-6">
      <label for="marca">Marca</label>
      <input type="text" class="form-control" [(ngModel)]="vehiculo.marca_vh" name="marca" id="marca" placeholder="Ingresar marca">
    </div>

    <div class="form-group col-sm-3">
      <label for="modelo">Modelo</label>
      <input type="text" class="form-control" [(ngModel)]="vehiculo.modelo_vh" name="modelo" id="modelo" placeholder="Ingresar modelo">
    </div>

    <div class="form-group col-sm-6">
      <label for="aceite">Aceite</label>
      <input type="text" class="form-control" [(ngModel)]="vehiculo.aceite" name="aceite" id="aceite" placeholder="Ingresar aceite">
    </div>
    <div class="form-group col-sm-6">
      <label for="filtroAceite">Filtro de aceite</label>
      <input type="text" class="form-control" [(ngModel)]="vehiculo.filtro_aceite" name="filtroAceite" id="filtroAceite" placeholder="Ingresar fi aceite">
    </div>
    <div class="form-group col-sm-6">
      <label for="filtroAire">Filtro de aire</label>
      <input type="text" class="form-control" [(ngModel)]="vehiculo.filtro_aire" name="filtroAire" id="filtroAire" placeholder="Ingresar fi aire">
    </div>
    <div class="form-group col-sm-6">
      <label for="filtroCabina">Filtro de cabina</label>
      <input type="text" class="form-control" [(ngModel)]="vehiculo.filtro_cabina" name="filtroCabina" id="filtroCabina" placeholder="Ingresar fi cabina">
    </div>
    <div class="form-group col-sm-6">
      <label for="filtroCombustible">Filtro de combustible</label>
      <input type="text" class="form-control" [(ngModel)]="vehiculo.filtro_combustible" name="filtroCombustible" id="filtroCombustible" placeholder="Ingresar fi combustible">
    </div>
    <div class="form-group col-sm-6">
      <label for="caja">Caja</label>
      <input type="text" class="form-control" [(ngModel)]="vehiculo.caja" name="caja" id="caja" placeholder="Ingresar caja">
    </div>
    <div class="form-group col-sm-6">
      <label for="transmision">Transmisión</label>
      <input type="text" class="form-control" [(ngModel)]="vehiculo.transmision" name="transmision" id="transmision" placeholder="Ingresar transmisión">
    </div>
    <div class="form-group col-sm-6">
      <label for="aditivo">Aditivo</label>
      <input type="text" class="form-control" [(ngModel)]="vehiculo.aditivo" name="aditivo" id="aditivo" placeholder="Ingresar aditivo">
    </div>
    <div class="form-group col-sm-6">
      <label for="vitrina">Vitrina</label>
      <input type="text" class="form-control" [(ngModel)]="vehiculo.vitrina" name="vitrina" id="vitrina" placeholder="Ingresar vitrina">
    </div>

    <div class="form-group col-sm-12">
      <label for="otros">Otros</label>
      <textarea class="form-control" [(ngModel)]="vehiculo.otros_vh" name="otros" id="otros" rows="3" placeholder="Ingresar datos adicionales"></textarea>
    </div>

    <div class="form-group col-sm-12">
      <button [hidden]="edit" type="submit" class="btn btn-primary btn-block" (click)="createVehiculo()">Crear</button>
      <button [hidden]="!edit" type="submit" class="btn btn-primary btn-block" (click)="updateVehiculo()">Modificar</button>
    </div>
  </div>
</form>