.container-valvulinas {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  width: 100%;
  margin-top: 12px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 1rem;
  position: relative;
  padding-top: 15px;
}
.valvulinas {
  position: absolute;
  top: -15px;
  background: white;
  width: auto;
  margin-left: 10px;
}

@media (min-width: 576px) {
  .col-sm-6 .btn {
    max-width: 100%;
  }
}