<nav class="navbar">
  <a class="navbar-brand text-center" href="#">
    {{ titulo }}
  </a>
</nav>
<form>
  <div class="row mt-3" *ngIf="producto">
    <div class="form-group col-sm-4">
      <label for="tipoProducto">Tipo</label>
      <select [(ngModel)]="producto.tipo_producto" id="tipoProducto" name="tipoProducto" class="form-control">
        <option *ngFor="let i of [0, 1, 2, 3, 4, 5, 6]" [value]="tipoProducto[i]">
          {{ tipoProducto[i] }}
        </option>
      </select>
    </div>
    <div class="form-group col-sm-6">
      <label for="codigo">Código</label>
      <input [(ngModel)]="producto.codigo" type="text" class="form-control" name="codigo" id="codigo" placeholder="Ingresar código">
    </div>
    <div class="form-group col-sm-2">
      <label for="cantidad">Cantidad</label>
      <input [(ngModel)]="producto.cantidad_actual" type="number" class="form-control" id="cantidad" name="cantidad" placeholder="Ingresar cantidad">
    </div>

    <div class="form-group col-sm-12">
      <label for="referencia">Referencia</label>
      <input [(ngModel)]="producto.referencia" type="text" class="form-control" name="referencia" id="referencia" placeholder="Ingresar referencia">
    </div>

    <div class="col-sm-12">
      <div class="row">
        <div class="form-group col">
          <label for="precioCompra">Precio compra</label>
          <input [(ngModel)]="producto.precio_compra" type="number" class="form-control" id="precioCompra" name="precioCompra" placeholder="Ingresar precio de compra">
        </div>
        <div class="form-group col">
          <label for="precioVenta">Precio venta</label>
          <input [(ngModel)]="producto.precio_venta" type="number" class="form-control" id="precioVenta" name="precioVenta" placeholder="Ingresar precio de venta">
        </div>
        <div class="form-group col"
             *ngIf="(producto.tipo_producto !== tipoProducto[0])
                 && (producto.tipo_producto !== tipoProducto[5])
                 && (producto.tipo_producto !== tipoProducto[6])">
          <label for="vehiculoCompatible">Vehiculo compatible</label>
          <input [(ngModel)]="producto.tipo_vh_compatible" type="text" class="form-control" id="vehiculoCompatible" name="vehiculoCompatible" placeholder="Ingresar vehiculo compatible">
        </div>
      </div>
    </div>

    <div class="form-group col-sm-12"
         *ngIf="(producto.tipo_producto !== tipoProducto[0])
             && (producto.tipo_producto !== tipoProducto[5])
             && (producto.tipo_producto !== tipoProducto[6])">
      <label for="equivalencias">Equivalencias</label>
      <input [(ngModel)]="producto.equivalencia" type="text" class="form-control" id="equivalencias" name="equivalencias" placeholder="Ingresar equivalencias">
    </div>

    <div class="form-group col-sm-12">
      <label for="notas">Notas</label>
      <textarea [(ngModel)]="producto.notas" class="form-control" id="notas" name="notas" rows="3" placeholder="Ingresar información adicional"></textarea>
    </div>

    <div class="form-group col-sm-12">
      <button [hidden]="edit" type="submit" class="btn btn-primary btn-block" (click)="createProducto()">Crear</button>
      <button [hidden]="!edit" type="submit" class="btn btn-primary btn-block" (click)="updateProducto()">Modificar</button>
    </div>
  </div>
</form>