.info-adicional {
  margin-bottom: 1rem;
}
.rotateIcon {
  transform: rotateZ(180deg);
  transition: .3s;
}

.container-productos {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  width: 100%;
  margin-top: 12px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 1rem;
  position: relative;
  padding-top: 15px;
}
.productos {
  position: absolute;
  top: -15px;
  background: white;
  width: auto;
  margin-left: 10px;
}

.nuevo-producto {
  padding: 0;
  display: contents;
}

.total-pagar {
  padding-top: 1.96rem;
}

input.pago-descuento {
  border-color: green;
  color: green;
}

@media (min-width: 576px) {
  .col-sm-6 .btn {
    max-width: 100%;
  }
}