<nav class="navbar">
  <a class="navbar-brand d-flex justify-content-around" href="#">
    <span>Generar factura</span>
  </a>
</nav>

<form id="areaImprimir">
  <div class="row mt-3">
    <div class="form-group col-sm-4">
      <span class="mb-0"><strong>Fecha: </strong>{{fecha}}</span>
    </div>
    
    <div class="form-group offset-sm-4 col-sm-4">
      <label for="numeroFactura">Número de factura</label>
      <input type="number" [(ngModel)]="servicio.nro_factura_svcio" name="numeroFactura" class="form-control" id="numeroFactura" placeholder="Ingresar número factura" autofocus>
      <small class="text-muted">Obligatorio</small>
    </div>

    <div class="col-sm-3">
      <p>¿El cliente tiene vehiculo?</p>
    </div>
    <div class="col-sm-9">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" [(ngModel)]="tieneVehiculo" name="tieneVehiculo" id="tieneVehiculoSi" value="si">
        <label class="form-check-label" for="tieneVehiculoSi">Si</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" [(ngModel)]="tieneVehiculo" name="tieneVehiculo" id="tieneVehiculoNo" value="no">
        <label class="form-check-label" for="tieneVehiculoNo">No</label>
      </div>
    </div>
    
    <div class="form-group col-sm-6" *ngIf="tieneVehiculo == 'si'">
      <label for="vehiculo">Vehiculo</label>
      <input type="text" class="form-control" [(ngModel)]="vehiculo" (ngModelChange)="getClienteByPlacaVehiculo($event)" list="listaVehiculos" name="vehiculo" id="vehiculo">
      <datalist id="listaVehiculos">
        <option *ngFor="let v of vehiculos" [value]="v.placa_vh">
          {{v.marca_vh}} - {{v.modelo_vh}}
        </option>
      </datalist>
      <small class="text-muted">Obligatorio</small>
    </div>
    <div class="form-group col-sm-6" *ngIf="tieneVehiculo == 'si'">
      <label for="cliente">Cliente</label>
      <input type="text" class="form-control" [value]="nombreCliente" name="cliente" id="cliente" disabled>
      <small class="text-muted">Obligatorio</small>
    </div>
    <div class="form-group col-sm-6" *ngIf="tieneVehiculo == 'no'">
      <label for="cliente">NIT Cliente</label>
      <input type="text" class="form-control" [(ngModel)]="servicio.cliente_idCliente" (ngModelChange)="getNombreClienteByCc($event)" list="listaCliente" name="cliente" id="cliente">
      <datalist id="listaCliente"> 
        <option *ngFor="let cliente of clientes" [value]="cliente.cc_cliente">
          {{ cliente.nombres_cliente }} {{ cliente.apellidos_cliente }}
        </option>
      </datalist> 
      <small class="text-muted">Obligatorio</small>
    </div>
    <div class="form-group col-sm-6" *ngIf="tieneVehiculo === 'no'">
      <label for="nombreCliente2">Nombre completo</label>
      <input type="text" class="form-control" [value]="nombreCliente" name="nombreCliente" id="nombreCliente2" disabled>
      <small class="text-muted">Obligatorio</small>
    </div>

    <div class="container-productos row">
      <label class="productos col-sm-12">Productos</label>

      <!-- Check aceite -->
      <div class="form-group col-12">
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkAceite1" name="checkAceite1" type="checkbox" id="checkAceite1" value="aceite1">
          <label class="form-check-label" for="checkAceite1">Aceite 1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkAceite2" name="checkAceite2" type="checkbox" id="checkAceite2" value="aceite2">
          <label class="form-check-label" for="checkAceite2">Aceite 2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkAceite3" name="checkAceite3" type="checkbox" id="checkAceite3" value="aceite3">
          <label class="form-check-label" for="checkAceite3">Aceite 3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkAceite4" name="checkAceite4" type="checkbox" id="checkAceite4" value="aceite3">
          <label class="form-check-label" for="checkAceite4">Aceite 4</label>
        </div>
      </div>
      <!-- Check Fi Aceite Fi Aire -->
      <div class="form-group col-12">
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkFiAceite1" name="checkFiAceite1" type="checkbox" id="checkFiAceite1" value="option3">
          <label class="form-check-label" for="checkFiAceite1">Fi Aceite 1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkFiAceite2" name="checkFiAceite2" type="checkbox" id="checkFiAceite2" value="option3">
          <label class="form-check-label" for="checkFiAceite2">Fi Aceite 2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkFiAire1" name="checkFiAire1" type="checkbox" id="checkFiAire1" value="option3">
          <label class="form-check-label" for="checkFiAire1">Fi Aire 1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkFiAire2" name="checkFiAire2" type="checkbox" id="checkFiAire2" value="option3">
          <label class="form-check-label" for="checkFiAire2">Fi Aire 2</label>
        </div>
      </div>
      <!-- Check Fi Cabina Fi Combustible -->
      <div class="form-group col-12">
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkFiCabina" name="checkFiCabina" type="checkbox" id="checkFiCabina" value="option3">
          <label class="form-check-label" for="checkFiCabina">Fi Cabina</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkFiCombustible1" name="checkFiCombustible1" type="checkbox" id="checkFiCombustible1" value="option3">
          <label class="form-check-label" for="checkFiCombustible1">Fi Combustible 1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkFiCombustible2" name="checkFiCombustible2" type="checkbox" id="checkFiCombustible2" value="option3">
          <label class="form-check-label" for="checkFiCombustible2">Fi Combustible 2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkFiCombustible3" name="checkFiCombustible3" type="checkbox" id="checkFiCombustible3" value="option3">
          <label class="form-check-label" for="checkFiCombustible3">Fi Combustible 3</label>
        </div>
      </div>
      <!-- Check Caja Transmisión -->
      <div class="form-group col-12">
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkCaja1" name="checkCaja1" type="checkbox" id="checkCaja1" value="option3">
          <label class="form-check-label" for="checkCaja1">Caja 1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkCaja2" name="checkCaja2" type="checkbox" id="checkCaja2" value="option3">
          <label class="form-check-label" for="checkCaja2">Caja 2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkTransmision1" name="checkTransmision1" type="checkbox" id="checkTransmision1" value="option3">
          <label class="form-check-label" for="checkTransmision1">Transmisión 1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkTransmision2" name="checkTransmision2" type="checkbox" id="checkTransmision2" value="option3">
          <label class="form-check-label" for="checkTransmision2">Transmisión 2</label>
        </div>
      </div>
      <!-- Check Aditivos -->
      <div class="form-group col-12">
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkAditivo1" name="checkAditivo1" type="checkbox" id="checkAditivo1" value="option3">
          <label class="form-check-label" for="checkAditivo1">Aditivo 1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkAditivo2" name="checkAditivo2" type="checkbox" id="checkAditivo2" value="option3">
          <label class="form-check-label" for="checkAditivo2">Aditivo 2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkAditivo3" name="checkAditivo3" type="checkbox" id="checkAditivo3" value="option3">
          <label class="form-check-label" for="checkAditivo3">Aditivo 3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkAditivo4" name="checkAditivo4" type="checkbox" id="checkAditivo4" value="option3">
          <label class="form-check-label" for="checkAditivo4">Aditivo 4</label>
        </div>
      </div>
      <!-- Check Vitrinas -->
      <div class="form-group col-12">
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkVitrina1" name="checkVitrina1" type="checkbox" id="checkVitrina1" value="option3">
          <label class="form-check-label" for="checkVitrina1">Vitrina 1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkVitrina2" name="checkVitrina2" type="checkbox" id="checkVitrina2" value="option3">
          <label class="form-check-label" for="checkVitrina2">Vitrina 2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkVitrina3" name="checkVitrina3" type="checkbox" id="checkVitrina3" value="option3">
          <label class="form-check-label" for="checkVitrina3">Vitrina 3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkVitrina4" name="checkVitrina4" type="checkbox" id="checkVitrina4" value="option3">
          <label class="form-check-label" for="checkVitrina4">Vitrina 4</label>
        </div>
      </div>
      <!-- Check Varios Mano Obra -->
      <div class="form-group col-12">
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkVarios1" name="checkVarios1" type="checkbox" id="checkVarios1" value="option3">
          <label class="form-check-label" for="checkVarios1">Varios 1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkVarios2" name="checkVarios2" type="checkbox" id="checkVarios2" value="option3">
          <label class="form-check-label" for="checkVarios2">Varios 2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkVarios3" name="checkVarios3" type="checkbox" id="checkVarios3" value="option3">
          <label class="form-check-label" for="checkVarios3">Varios 3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkVarios4" name="checkVarios4" type="checkbox" id="checkVarios4" value="option3">
          <label class="form-check-label" for="checkVarios4">Varios 4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkVarios5" name="checkVarios5" type="checkbox" id="checkVarios5" value="option3">
          <label class="form-check-label" for="checkVarios5">Varios 5</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [(ngModel)]="checkManoObra" name="checkManoObra" type="checkbox" id="checkManoObra" value="option3">
          <label class="form-check-label" for="checkManoObra">Mano de obra</label>
        </div>
      </div>

      <!-- Aceite 1 -->
      <ng-container *ngIf="checkAceite1">
        <div class="form-group col">
          <label for="tipoAceite">Aceite 1</label>
          <input type="text" name="aceiteCodigo" [(ngModel)]="aceite1" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="tipoAceite" list="tipoAceiteList" placeholder="Ingresar aceite">
          <datalist id="tipoAceiteList">
            <option *ngFor="let aceite of productosTipoAceite" [value]="aceite.codigo">
              {{aceite.referencia}}
            </option>
          </datalist>
        </div>
        <div class="form-group col-sm-2" *ngIf="tieneVehiculo == 'si'">
          <label for="aceiteKmActual">Km actual</label>
          <input type="text" name="aceiteKmActual" [(ngModel)]="servicio.aceite_km_actual" class="form-control" id="aceiteKmActual">
        </div>
        <div class="form-group col-sm-2" *ngIf="tieneVehiculo == 'si'">
          <label for="aceiteKmProximo">Km próximo</label>
          <input type="text" name="aceiteKmProximo" [(ngModel)]="servicio.aceite_km_proximo" class="form-control" id="aceiteKmProximo">
        </div>
        <div class="form-group col-sm-1">
          <label for="aceiteCantidad">Cantidad</label>
          <input type="number" [(ngModel)]="cantidadProductos.aceite1" name="aceiteCantidad" class="form-control" id="aceiteCantidad">
        </div>
        <div class="form-group col-sm-2">
          <label for="aceitePrecioUnidad">Precio unidad</label>
          <input type="number" name="aceitePrecioUnidad" [value]="seleccionado.aceite1.precio_venta" class="form-control" id="aceitePrecioUnidad" disabled>
        </div>
        <div class="form-group col-sm-2">
          <label for="aceitePrecioFinal">Precio final</label>
          <input type="number" name="aceitePrecioFinal" [value]="seleccionado.aceite1.precio_venta * cantidadProductos.aceite1"
                 class="form-control" id="aceitePrecioFinal" disabled>
        </div>
      </ng-container>
      <!-- Aceite 2 -->
      <ng-container *ngIf="checkAceite2">
        <div class="form-group col-sm-7">
          <label for="tipoAceite2">Aceite 2</label>
          <input type="text" name="aceiteCodigo2" [(ngModel)]="aceite2" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="tipoAceite2" list="tipoAceiteList" placeholder="Ingresar aceite">
          <datalist id="tipoAceiteList">
            <option *ngFor="let aceite of productosTipoAceite" [value]="aceite.codigo">
              {{aceite.referencia}}
            </option>
          </datalist>
        </div>
        <div class="form-group col-sm-1">
          <label for="aceiteCantidad2">Cantidad</label>
          <input type="number" [(ngModel)]="cantidadProductos.aceite2" name="aceiteCantidad" class="form-control" id="aceiteCantidad2">
        </div>
        <div class="form-group col-sm-2">
          <label for="aceitePrecioUnidad2">Precio unidad</label>
          <input type="number" name="aceitePrecioUnidad2" [value]="seleccionado.aceite2.precio_venta" class="form-control" id="aceitePrecioUnidad2" disabled>
        </div>
        <div class="form-group col-sm-2">
          <label for="aceitePrecioFinal2">Precio final</label>
          <input type="number" name="aceitePrecioFinal2" [value]="seleccionado.aceite2.precio_venta * cantidadProductos.aceite2"
                 class="form-control" id="aceitePrecioFinal2" disabled>
        </div>
      </ng-container>
      <!-- Aceite 3 -->
      <ng-container *ngIf="checkAceite3">
        <div class="form-group col-sm-7">
          <label for="tipoAceite3">Aceite 3</label>
          <input type="text" name="aceiteCodigo3" [(ngModel)]="aceite3" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="tipoAceite3" list="tipoAceiteList" placeholder="Ingresar aceite">
          <datalist id="tipoAceiteList">
            <option *ngFor="let aceite of productosTipoAceite" [value]="aceite.codigo">
              {{aceite.referencia}}
            </option>
          </datalist>
        </div>
        <div class="form-group col-sm-1">
          <label for="aceiteCantidad3">Cantidad</label>
          <input type="number" [(ngModel)]="cantidadProductos.aceite3" name="aceiteCantidad" class="form-control" id="aceiteCantidad3">
        </div>
        <div class="form-group col-sm-2">
          <label for="aceitePrecioUnidad3">Precio unidad</label>
          <input type="number" name="aceitePrecioUnidad3" [value]="seleccionado.aceite3.precio_venta" class="form-control" id="aceitePrecioUnidad3" disabled>
        </div>
        <div class="form-group col-sm-2">
          <label for="aceitePrecioFinal3">Precio final</label>
          <input type="number" name="aceitePrecioFinal3" [value]="seleccionado.aceite3.precio_venta * cantidadProductos.aceite3"
                 class="form-control" id="aceitePrecioFinal3" disabled>
        </div>
      </ng-container>
      <!-- Aceite 4 -->
      <ng-container *ngIf="checkAceite4">
        <div class="form-group col-sm-7">
          <label for="tipoAceite4">Aceite 4</label>
          <input type="text" name="aceiteCodigo4" [(ngModel)]="aceite4" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="tipoAceite4" list="tipoAceiteList" placeholder="Ingresar aceite">
          <datalist id="tipoAceiteList">
            <option *ngFor="let aceite of productosTipoAceite" [value]="aceite.codigo">
              {{aceite.referencia}}
            </option>
          </datalist>
        </div>
        <div class="form-group col-sm-1">
          <label for="aceiteCantidad4">Cantidad</label>
          <input type="number" [(ngModel)]="cantidadProductos.aceite4" name="aceiteCantidad" class="form-control" id="aceiteCantidad4">
        </div>
        <div class="form-group col-sm-2">
          <label for="aceitePrecioUnidad4">Precio unidad</label>
          <input type="number" name="aceitePrecioUnidad4" [value]="seleccionado.aceite4.precio_venta" class="form-control" id="aceitePrecioUnidad4" disabled>
        </div>
        <div class="form-group col-sm-2">
          <label for="aceitePrecioFinal4">Precio final</label>
          <input type="number" name="aceitePrecioFinal4" [value]="seleccionado.aceite4.precio_venta * cantidadProductos.aceite4"
                 class="form-control" id="aceitePrecioFinal4" disabled>
        </div>
      </ng-container>
      
      <!-- Filtro de aceite 1 -->
      <ng-container *ngIf="checkFiAceite1">
        <div class="form-group col-sm-7">
          <label for="tipoFiltroAceite1">Filtro de aceite 1</label>
          <input type="text" name="filtroAceiteCodigo" [(ngModel)]="filtroAceite1" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="tipoFiltroAceite1" list="tipoFiltroAceiteList" placeholder="Ingresar filtro de aceite">
          <datalist id="tipoFiltroAceiteList">
            <option *ngFor="let filtroAceite of productosTipoFiltroAceite" [value]="filtroAceite.codigo">
              {{filtroAceite.referencia}}
            </option>
          </datalist>
        </div>
        <div class="form-group col-sm-1">
          <label for="filtroAceiteCantidad1">Cantidad</label>
          <input type="number" name="filtroAceiteCantidad1" [(ngModel)]="cantidadProductos.filtroAceite1" class="form-control" id="filtroAceiteCantidad1">
        </div>
        <div class="form-group col-sm-2">
          <label for="filtroAceitePrecioUnidad1">Precio unidad</label>
          <input type="number" name="filtroAceitePrecioUnidad1" [value]="seleccionado.filtroAceite1.precio_venta" class="form-control" id="filtroAceitePrecioUnidad1" disabled>
        </div>
        <div class="form-group col-sm-2">
          <label for="filtroAceitePrecioFinal1">Precio final</label>
          <input type="number" name="filtroAceitePrecioFinal1" [value]="seleccionado.filtroAceite1.precio_venta * cantidadProductos.filtroAceite1"
                 class="form-control" id="filtroAceitePrecioFinal1" disabled>
        </div>
      </ng-container>
      <!-- Filtro de aceite 1 -->
      <ng-container *ngIf="checkFiAceite2">
        <div class="form-group col-sm-7">
          <label for="tipoFiltroAceite2">Filtro de aceite 2</label>
          <input type="text" name="filtroAceiteCodigo2" [(ngModel)]="filtroAceite2" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="tipoFiltroAceite2" list="tipoFiltroAceiteList" placeholder="Ingresar filtro de aceite">
          <datalist id="tipoFiltroAceiteList">
            <option *ngFor="let filtroAceite of productosTipoFiltroAceite" [value]="filtroAceite.codigo">
              {{filtroAceite.referencia}}
            </option>
          </datalist>
        </div>
        <div class="form-group col-sm-1">
          <label for="filtroAceiteCantidad2">Cantidad</label>
          <input type="number" name="filtroAceiteCantidad2" [(ngModel)]="cantidadProductos.filtroAceite2" class="form-control" id="filtroAceiteCantidad2">
        </div>
        <div class="form-group col-sm-2">
          <label for="filtroAceitePrecioUnidad2">Precio unidad</label>
          <input type="number" name="filtroAceitePrecioUnidad2" [value]="seleccionado.filtroAceite2.precio_venta" class="form-control" id="filtroAceitePrecioUnidad2" disabled>
        </div>
        <div class="form-group col-sm-2">
          <label for="filtroAceitePrecioFinal2">Precio final</label>
          <input type="number" name="filtroAceitePrecioFinal2" [value]="seleccionado.filtroAceite2.precio_venta * cantidadProductos.filtroAceite2"
                 class="form-control" id="filtroAceitePrecioFinal2" disabled>
        </div>
      </ng-container>
      
      <!-- Filtro de aire 1 -->
      <ng-container *ngIf="checkFiAire1">
        <div class="form-group col-sm-7">
          <label for="tipoFiltroAire1">Filtro de aire 1</label>
          <input type="text" name="filtroAireCodigo1" [(ngModel)]="filtroAire1" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="tipoFiltroAire1" list="tipoFiltroAireList" placeholder="Ingresar filtro de aire">
          <datalist id="tipoFiltroAireList">
            <option *ngFor="let filtroAire of productosTipoFiltroAire" [value]="filtroAire.codigo">
              {{filtroAire.referencia}}
            </option>
          </datalist>
        </div>
        <div class="form-group col-sm-1">
          <label for="filtroAireCantidad1">Cantidad</label>
          <input type="number" name="filtroAireCantidad1" [(ngModel)]="cantidadProductos.filtroAire1" class="form-control" id="filtroAireCantidad1">
        </div>
        <div class="form-group col-sm-2">
          <label for="filtroAirePrecioUnidad">Precio unidad</label>
          <input type="number" name="filtroAirePrecioUnidad1" [value]="seleccionado.filtroAire1.precio_venta" class="form-control" id="filtroAirePrecioUnidad1" disabled>
        </div>
        <div class="form-group col-sm-2">
          <label for="filtroAirePrecioFinal1">Precio final</label>
          <input type="number" name="filtroAirePrecioFinal1" [value]="seleccionado.filtroAire1.precio_venta * cantidadProductos.filtroAire1"
                 class="form-control" id="filtroAirePrecioFinal1" disabled>
        </div>
      </ng-container>
      <!-- Filtro de aire 2 -->
      <ng-container *ngIf="checkFiAire2">
        <div class="form-group col-sm-7">
          <label for="tipoFiltroAire2">Filtro de aire 2</label>
          <input type="text" name="filtroAireCodigo2" [(ngModel)]="filtroAire2" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="tipoFiltroAire2" list="tipoFiltroAireList" placeholder="Ingresar filtro de aire">
          <datalist id="tipoFiltroAireList">
            <option *ngFor="let filtroAire of productosTipoFiltroAire" [value]="filtroAire.codigo">
              {{filtroAire.referencia}}
            </option>
          </datalist>
        </div>
        <div class="form-group col-sm-1">
          <label for="filtroAireCantidad2">Cantidad</label>
          <input type="number" name="filtroAireCantidad2" [(ngModel)]="cantidadProductos.filtroAire2" class="form-control" id="filtroAireCantidad2">
        </div>
        <div class="form-group col-sm-2">
          <label for="filtroAirePrecioUnidad2">Precio unidad</label>
          <input type="number" name="filtroAirePrecioUnidad2" [value]="seleccionado.filtroAire2.precio_venta" class="form-control" id="filtroAirePrecioUnidad2" disabled>
        </div>
        <div class="form-group col-sm-2">
          <label for="filtroAirePrecioFinal2">Precio final</label>
          <input type="number" name="filtroAirePrecioFinal2" [value]="seleccionado.filtroAire2.precio_venta * cantidadProductos.filtroAire2"
                 class="form-control" id="filtroAirePrecioFinal2" disabled>
        </div>
      </ng-container>

      <!-- Filtro de cabina -->
      <ng-container *ngIf="checkFiCabina">
        <div class="form-group col-sm-7">
          <label for="tipoFiltroCabina">Filtro de cabina</label>
          <input type="text" name="filtroCabinaCodigo" [(ngModel)]="filtroCabina" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="tipoFiltroCabina" list="tipoFiltroCabinaList" placeholder="Ingresar filtro de cabina">
          <datalist id="tipoFiltroCabinaList">
            <option *ngFor="let filtroCabina of productosTipoFiltroCabina" [value]="filtroCabina.codigo">
              {{filtroCabina.referencia}}
            </option>
          </datalist>
        </div>
        <div class="form-group col-sm-1">
          <label for="filtroCabinaCantidad">Cantidad</label>
          <input type="number" name="filtroCabinaCantidad" [(ngModel)]="cantidadProductos.filtroCabina" class="form-control" id="filtroCabinaCantidad">
        </div>
        <div class="form-group col-sm-2">
          <label for="filtroCabinaPrecioUnidad">Precio unidad</label>
          <input type="number" name="filtroCabinaPrecioUnidad" [value]="seleccionado.filtroCabina.precio_venta" class="form-control" id="filtroCabinaPrecioUnidad" disabled>
        </div>
        <div class="form-group col-sm-2">
          <label for="filtroCabinaPrecioFinal">Precio final</label>
          <input type="number" name="filtroCabinaPrecioFinal" [value]="seleccionado.filtroCabina.precio_venta * cantidadProductos.filtroCabina"
                 class="form-control" id="filtroCabinaPrecioFinal" disabled>
        </div>
      </ng-container>

      <!-- Filtro de combustible 1 -->
      <ng-container *ngIf="checkFiCombustible1">
        <div class="form-group col-sm-7">
          <label for="productosTipoFiltroCombustible1">Filtro de combustible 1</label>
          <input type="text" name="filtroCombustibleCodigo1" [(ngModel)]="filtroCombustible1" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="productosTipoFiltroCombustible1" list="productosTipoFiltroCombustibleList" placeholder="Ingresar filtro de combustible">
          <datalist id="productosTipoFiltroCombustibleList">
            <option *ngFor="let filtroCombustible of productosTipoFiltroCombustible" [value]="filtroCombustible.codigo">
              {{filtroCombustible.referencia}}
            </option>
          </datalist>
        </div>
        <div class="form-group col-sm-1">
          <label for="filtroCombustibleCantidad1">Cantidad</label>
          <input type="number" name="filtroCombustibleCantidad1" [(ngModel)]="cantidadProductos.filtroCombustible1" class="form-control" id="filtroCombustibleCantidad1">
        </div>
        <div class="form-group col-sm-2">
          <label for="filtroCombustiblePrecioUnidad1">Precio unidad</label>
          <input type="number" name="filtroCombustiblePrecioUnidad1" [value]="seleccionado.filtroCombustible1.precio_venta" class="form-control" id="filtroCombustiblePrecioUnidad1" disabled>
        </div>
        <div class="form-group col-sm-2">
          <label for="filtroCombustiblePrecioFinal">Precio final</label>
          <input type="number" name="filtroCombustiblePrecioFinal1" [value]="seleccionado.filtroCombustible1.precio_venta * cantidadProductos.filtroCombustible1"
          class="form-control" id="filtroCombustiblePrecioFinal1" disabled>
        </div>
      </ng-container>
      <!-- Filtro de combustible 2 -->
      <ng-container *ngIf="checkFiCombustible2">
        <div class="form-group col-sm-7">
          <label for="productosTipoFiltroCombustible2">Filtro de combustible 2</label>
          <input type="text" name="filtroCombustibleCodigo2" [(ngModel)]="filtroCombustible2" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="productosTipoFiltroCombustible2" list="productosTipoFiltroCombustibleList" placeholder="Ingresar filtro de combustible">
          <datalist id="productosTipoFiltroCombustibleList">
            <option *ngFor="let filtroCombustible of productosTipoFiltroCombustible" [value]="filtroCombustible.codigo">
              {{filtroCombustible.referencia}}
            </option>
          </datalist>
        </div>
        <div class="form-group col-sm-1">
          <label for="filtroCombustibleCantidad2">Cantidad</label>
          <input type="number" name="filtroCombustibleCantidad2" [(ngModel)]="cantidadProductos.filtroCombustible2" class="form-control" id="filtroCombustibleCantidad2">
        </div>
        <div class="form-group col-sm-2">
          <label for="filtroCombustiblePrecioUnidad2">Precio unidad</label>
          <input type="number" name="filtroCombustiblePrecioUnidad2" [value]="seleccionado.filtroCombustible2.precio_venta" class="form-control" id="filtroCombustiblePrecioUnidad2" disabled>
        </div>
        <div class="form-group col-sm-2">
          <label for="filtroCombustiblePrecioFinal">Precio final</label>
          <input type="number" name="filtroCombustiblePrecioFinal2" [value]="seleccionado.filtroCombustible2.precio_venta * cantidadProductos.filtroCombustible2"
          class="form-control" id="filtroCombustiblePrecioFinal2" disabled>
        </div>
      </ng-container>
      <!-- Filtro de combustible 3 -->
      <ng-container *ngIf="checkFiCombustible3">
        <div class="form-group col-sm-7">
          <label for="productosTipoFiltroCombustible3">Filtro de combustible 3</label>
          <input type="text" name="filtroCombustibleCodigo3" [(ngModel)]="filtroCombustible3" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="productosTipoFiltroCombustible3" list="productosTipoFiltroCombustibleList" placeholder="Ingresar filtro de combustible">
          <datalist id="productosTipoFiltroCombustibleList">
            <option *ngFor="let filtroCombustible of productosTipoFiltroCombustible" [value]="filtroCombustible.codigo">
              {{filtroCombustible.referencia}}
            </option>
          </datalist>
        </div>
        <div class="form-group col-sm-1">
          <label for="filtroCombustibleCantidad3">Cantidad</label>
          <input type="number" name="filtroCombustibleCantidad3" [(ngModel)]="cantidadProductos.filtroCombustible3" class="form-control" id="filtroCombustibleCantidad3">
        </div>
        <div class="form-group col-sm-2">
          <label for="filtroCombustiblePrecioUnidad3">Precio unidad</label>
          <input type="number" name="filtroCombustiblePrecioUnidad3" [value]="seleccionado.filtroCombustible3.precio_venta" class="form-control" id="filtroCombustiblePrecioUnidad3" disabled>
        </div>
        <div class="form-group col-sm-2">
          <label for="filtroCombustiblePrecioFinal">Precio final</label>
          <input type="number" name="filtroCombustiblePrecioFinal3" [value]="seleccionado.filtroCombustible3.precio_venta * cantidadProductos.filtroCombustible3"
          class="form-control" id="filtroCombustiblePrecioFinal3" disabled>
        </div>
      </ng-container>
      
      <!-- Caja Valvulinas 1 -->
      <ng-container *ngIf="checkCaja1">
        <div class="row pl-3 pr-3">
          <div class="form-group col">
            <label for="cajaValvulinas1">Caja (Valvulinas) 1</label>
            <input type="text" name="cajaValvulinasCodigo1" [(ngModel)]="cajaValvulinas1" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="cajaValvulinas1" list="cajaValvulinasList" placeholder="Ingresar caja (valvulinas)">
            <datalist id="cajaValvulinasList">
              <option *ngFor="let cajaValvulinas of productosTipoAceite" [value]="cajaValvulinas.codigo">
                {{cajaValvulinas.referencia}}
              </option>
            </datalist>
          </div>
          <div class="form-group col-sm-2" *ngIf="tieneVehiculo == 'si'">
            <label for="cajaValvulinasKmActual">Km actual</label>
            <input type="text" name="cajaValvulinasKmActual" [(ngModel)]="servicio.caja_km_actual" class="form-control" id="cajaValvulinasKmActual">
          </div>
          <div class="form-group col-sm-2" *ngIf="tieneVehiculo == 'si'">
            <label for="cajaValvulinasKmProximo">Km próximo</label>
            <input type="text" name="cajaValvulinasKmProximo" [(ngModel)]="servicio.caja_km_proximo" class="form-control" id="cajaValvulinasKmProximo">
          </div>
          <div class="form-group col-sm-1">
            <label for="cajaValvulinasCantidad1">Cantidad</label>
            <input type="number" name="cajaValvulinasCantidad1" [(ngModel)]="cantidadProductos.cajaValvulinas1" class="form-control" id="cajaValvulinasCantidad1">
          </div>
          <div class="form-group col-sm-2">
            <label for="cajaValvulinasPrecioUnidad1">Precio unidad</label>
            <input type="number" name="cajaValvulinasPrecioUnidad1" [value]="seleccionado.cajaValvulinas1.precio_venta" class="form-control" id="cajaValvulinasPrecioUnidad1" disabled>
          </div>
          <div class="form-group col-sm-2">
            <label for="cajaValvulinasPrecioUnidad1">Precio final</label>
            <input type="number" name="cajaValvulinasPrecioUnidad1" [value]="seleccionado.cajaValvulinas1.precio_venta * cantidadProductos.cajaValvulinas1"
            class="form-control" id="cajaValvulinasPrecioFinal1" disabled>
          </div>
        </div>
      </ng-container>
      <!-- Caja Valvulinas 2 -->
      <ng-container *ngIf="checkCaja2">
        <div class="row pl-3 pr-3">
          <div class="form-group col-sm-7">
            <label for="cajaValvulinas2">Caja (Valvulinas) 2</label>
            <input type="text" name="cajaValvulinasCodigo2" [(ngModel)]="cajaValvulinas2" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="cajaValvulinas2" list="cajaValvulinasList" placeholder="Ingresar caja (valvulinas)">
            <datalist id="cajaValvulinasList">
              <option *ngFor="let cajaValvulinas of productosTipoAceite" [value]="cajaValvulinas.codigo">
                {{cajaValvulinas.referencia}}
              </option>
            </datalist>
          </div>
          <div class="form-group col-sm-1">
            <label for="cajaValvulinasCantidad2">Cantidad</label>
            <input type="number" name="cajaValvulinasCantidad2" [(ngModel)]="cantidadProductos.cajaValvulinas2" class="form-control" id="cajaValvulinasCantidad2">
          </div>
          <div class="form-group col-sm-2">
            <label for="cajaValvulinasPrecioUnidad2">Precio unidad</label>
            <input type="number" name="cajaValvulinasPrecioUnidad2" [value]="seleccionado.cajaValvulinas2.precio_venta" class="form-control" id="cajaValvulinasPrecioUnidad2" disabled>
          </div>
          <div class="form-group col-sm-2">
            <label for="cajaValvulinasPrecioUnidad2">Precio final</label>
            <input type="number" name="cajaValvulinasPrecioUnidad2" [value]="seleccionado.cajaValvulinas2.precio_venta * cantidadProductos.cajaValvulinas2"
            class="form-control" id="cajaValvulinasPrecioFinal2" disabled>
          </div>
        </div>
      </ng-container>
      
      <!-- Transmisión Valvulinas 1 -->
      <ng-container *ngIf="checkTransmision1">
        <div class="row pl-3 pr-3">
          <div class="form-group col">
            <label for="transmisionValvulinas1">Transmisión (valvulinas) 1</label>
            <input type="text" name="transmisionValvulinasCodigo1" [(ngModel)]="transmisionValvulinas1" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="transmisionValvulinas1" list="transmisionValvulinasList" placeholder="Ingresar transmisión (valvulinas)">
            <datalist id="transmisionValvulinasList">
              <option *ngFor="let transmisionValvulinas of productosTipoAceite" [value]="transmisionValvulinas.codigo">
                {{transmisionValvulinas.referencia}}
              </option>
            </datalist>
          </div>
          <div class="form-group col-sm-2" *ngIf="tieneVehiculo == 'si'">
            <label for="transmisionValvulinasKmActual">Km actual</label>
            <input type="text" name="transmisionValvulinasKmActual" [(ngModel)]="servicio.transmision_km_actual" class="form-control" id="transmisionValvulinasKmActual">
          </div>
          <div class="form-group col-sm-2" *ngIf="tieneVehiculo == 'si'">
            <label for="transmisionValvulinasKmProximo">Km próximo</label>
            <input type="text" name="transmisionValvulinasKmProximo" [(ngModel)]="servicio.transmision_km_proximo" class="form-control" id="transmisionValvulinasKmProximo">
          </div>
          <div class="form-group col-sm-1">
            <label for="transmisionValvulinasCantidad1">Cantidad</label>
            <input type="number" name="transmisionValvulinasCantidad1" [(ngModel)]="cantidadProductos.transmisionValvulinas1" class="form-control" id="transmisionValvulinasCantidad1">
          </div>
          <div class="form-group col-sm-2">
            <label for="transmisionValvulinasPrecioUnidad1">Precio unidad</label>
            <input type="number" name="transmisionValvulinasPrecioUnidad1" [value]="seleccionado.transmisionValvulinas1.precio_venta" class="form-control" id="transmisionValvulinasPrecioUnidad1" disabled>
          </div>
          <div class="form-group col-sm-2">
            <label for="transmisionValvulinasPrecioFinal1">Precio final</label>
            <input type="number" name="transmisionValvulinasPrecioFinal1" [value]="seleccionado.transmisionValvulinas1.precio_venta * cantidadProductos.transmisionValvulinas1"
            class="form-control" id="transmisionValvulinasPrecioFinal1" disabled>
          </div>
        </div>
      </ng-container>
      <!-- Transmisión Valvulinas 1 -->
      <ng-container *ngIf="checkTransmision2">
        <div class="row pl-3 pr-3">
          <div class="form-group col-sm-7">
            <label for="transmisionValvulinas2">Transmisión (valvulinas) 2</label>
            <input type="text" name="transmisionValvulinasCodigo2" [(ngModel)]="transmisionValvulinas2" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="transmisionValvulinas2" list="transmisionValvulinasList" placeholder="Ingresar transmisión (valvulinas)">
            <datalist id="transmisionValvulinasList">
              <option *ngFor="let transmisionValvulinas of productosTipoAceite" [value]="transmisionValvulinas.codigo">
                {{transmisionValvulinas.referencia}}
              </option>
            </datalist>
          </div>
          <div class="form-group col-sm-1">
            <label for="transmisionValvulinasCantidad2">Cantidad</label>
            <input type="number" name="transmisionValvulinasCantidad2" [(ngModel)]="cantidadProductos.transmisionValvulinas2" class="form-control" id="transmisionValvulinasCantidad2">
          </div>
          <div class="form-group col-sm-2">
            <label for="transmisionValvulinasPrecioUnidad2">Precio unidad</label>
            <input type="number" name="transmisionValvulinasPrecioUnidad2" [value]="seleccionado.transmisionValvulinas2.precio_venta" class="form-control" id="transmisionValvulinasPrecioUnidad2" disabled>
          </div>
          <div class="form-group col-sm-2">
            <label for="transmisionValvulinasPrecioFinal2">Precio final</label>
            <input type="number" name="transmisionValvulinasPrecioFinal2" [value]="seleccionado.transmisionValvulinas2.precio_venta * cantidadProductos.transmisionValvulinas2"
            class="form-control" id="transmisionValvulinasPrecioFinal2" disabled>
          </div>
        </div>
      </ng-container>

      <!-- Aditivo 1 -->
      <ng-container *ngIf="checkAditivo1">
        <div class="row pl-3 pr-3">
          <div class="form-group col">
            <label for="aditivo1">Aditivo 1</label>
            <input type="text" name="aditivoCodigo1" [(ngModel)]="aditivo1" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="aditivo1" list="aditivoList" placeholder="Ingresar aditivo">
            <datalist id="aditivoList">
              <option *ngFor="let aditivo of productosTipoAditivo" [value]="aditivo.codigo">
                {{aditivo.referencia}}
              </option>
            </datalist>
          </div>
          <div class="form-group col-sm-1">
            <label for="aditivoCantidad1">Cantidad</label>
            <input type="number" name="aditivoCantidad1" [(ngModel)]="cantidadProductos.aditivo1" class="form-control" id="aditivoCantidad1">
          </div>
          <div class="form-group col-sm-2">
            <label for="aditivoPrecioUnidad1">Precio unidad</label>
            <input type="number" name="aditivoPrecioUnidad1" [value]="seleccionado.aditivo1.precio_venta" class="form-control" id="aditivoPrecioUnidad1" disabled>
          </div>
          <div class="form-group col-sm-2">
            <label for="aditivoPrecioFinal1">Precio final</label>
            <input type="number" name="aditivoPrecioFinal1" [value]="seleccionado.aditivo1.precio_venta * cantidadProductos.aditivo1"
            class="form-control" id="aditivoPrecioFinal1" disabled>
          </div>
        </div>
      </ng-container>
      <!-- Aditivo 2 -->
      <ng-container *ngIf="checkAditivo2">
        <div class="row pl-3 pr-3">
          <div class="form-group col">
            <label for="aditivo2">Aditivo 2</label>
            <input type="text" name="aditivoCodigo2" [(ngModel)]="aditivo2" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="aditivo2" list="aditivoList" placeholder="Ingresar aditivo">
            <datalist id="aditivoList">
              <option *ngFor="let aditivo of productosTipoAditivo" [value]="aditivo.codigo">
                {{aditivo.referencia}}
              </option>
            </datalist>
          </div>
          <div class="form-group col-sm-1">
            <label for="aditivoCantidad2">Cantidad</label>
            <input type="number" name="aditivoCantidad2" [(ngModel)]="cantidadProductos.aditivo2" class="form-control" id="aditivoCantidad2">
          </div>
          <div class="form-group col-sm-2">
            <label for="aditivoPrecioUnidad2">Precio unidad</label>
            <input type="number" name="aditivoPrecioUnidad2" [value]="seleccionado.aditivo2.precio_venta" class="form-control" id="aditivoPrecioUnidad2" disabled>
          </div>
          <div class="form-group col-sm-2">
            <label for="aditivoPrecioFinal2">Precio final</label>
            <input type="number" name="aditivoPrecioFinal2" [value]="seleccionado.aditivo2.precio_venta * cantidadProductos.aditivo2"
            class="form-control" id="aditivoPrecioFinal2" disabled>
          </div>
        </div>
      </ng-container>
      <!-- Aditivo 3 -->
      <ng-container *ngIf="checkAditivo3">
        <div class="row pl-3 pr-3">
          <div class="form-group col">
            <label for="aditivo3">Aditivo 3</label>
            <input type="text" name="aditivoCodigo3" [(ngModel)]="aditivo3" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="aditivo3" list="aditivoList" placeholder="Ingresar aditivo">
            <datalist id="aditivoList">
              <option *ngFor="let aditivo of productosTipoAditivo" [value]="aditivo.codigo">
                {{aditivo.referencia}}
              </option>
            </datalist>
          </div>
          <div class="form-group col-sm-1">
            <label for="aditivoCantidad3">Cantidad</label>
            <input type="number" name="aditivoCantidad3" [(ngModel)]="cantidadProductos.aditivo3" class="form-control" id="aditivoCantidad3">
          </div>
          <div class="form-group col-sm-2">
            <label for="aditivoPrecioUnidad3">Precio unidad</label>
            <input type="number" name="aditivoPrecioUnidad3" [value]="seleccionado.aditivo3.precio_venta" class="form-control" id="aditivoPrecioUnidad3" disabled>
          </div>
          <div class="form-group col-sm-2">
            <label for="aditivoPrecioFinal3">Precio final</label>
            <input type="number" name="aditivoPrecioFinal3" [value]="seleccionado.aditivo3.precio_venta * cantidadProductos.aditivo3"
            class="form-control" id="aditivoPrecioFinal3" disabled>
          </div>
        </div>
      </ng-container>
      <!-- Aditivo 4 -->
      <ng-container *ngIf="checkAditivo4">
        <div class="row pl-3 pr-3">
          <div class="form-group col">
            <label for="aditivo4">Aditivo 4</label>
            <input type="text" name="aditivoCodigo4" [(ngModel)]="aditivo4" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="aditivo4" list="aditivoList" placeholder="Ingresar aditivo">
            <datalist id="aditivoList">
              <option *ngFor="let aditivo of productosTipoAditivo" [value]="aditivo.codigo">
                {{aditivo.referencia}}
              </option>
            </datalist>
          </div>
          <div class="form-group col-sm-1">
            <label for="aditivoCantidad4">Cantidad</label>
            <input type="number" name="aditivoCantidad4" [(ngModel)]="cantidadProductos.aditivo4" class="form-control" id="aditivoCantidad4">
          </div>
          <div class="form-group col-sm-2">
            <label for="aditivoPrecioUnidad4">Precio unidad</label>
            <input type="number" name="aditivoPrecioUnidad4" [value]="seleccionado.aditivo4.precio_venta" class="form-control" id="aditivoPrecioUnidad4" disabled>
          </div>
          <div class="form-group col-sm-2">
            <label for="aditivoPrecioFinal4">Precio final</label>
            <input type="number" name="aditivoPrecioFinal4" [value]="seleccionado.aditivo4.precio_venta * cantidadProductos.aditivo4"
            class="form-control" id="aditivoPrecioFinal4" disabled>
          </div>
        </div>
      </ng-container>

      <!-- Vitrina 1 -->
      <ng-container *ngIf="checkVitrina1">
        <div class="row pl-3 pr-3">
          <div class="form-group col">
            <label for="vitrina1">Vitrina 1</label>
            <input type="text" name="vitrinaCodigo1" [(ngModel)]="vitrina1" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="vitrina1" list="vitrinaList" placeholder="Ingresar vitrina">
            <datalist id="vitrinaList">
              <option *ngFor="let vitrina of productosTipoVitrina" [value]="vitrina.codigo">
                {{vitrina.referencia}}
              </option>
            </datalist>
          </div>
          <div class="form-group col-sm-1">
            <label for="vitrinaCantidad1">Cantidad</label>
            <input type="number" name="vitrinaCantidad1" [(ngModel)]="cantidadProductos.vitrina1" class="form-control" id="vitrinaCantidad1">
          </div>
          <div class="form-group col-sm-2">
            <label for="vitrinaPrecioUnidad1">Precio unidad</label>
            <input type="number" name="vitrinaPrecioUnidad1" [value]="seleccionado.vitrina1.precio_venta" class="form-control" id="vitrinaPrecioUnidad1" disabled>
          </div>
          <div class="form-group col-sm-2">
            <label for="vitrinaPrecioFinal1">Precio final</label>
            <input type="number" name="vitrinaPrecioFinal1" [value]="seleccionado.vitrina1.precio_venta * cantidadProductos.vitrina1"
            class="form-control" id="vitrinaPrecioFinal1" disabled>
          </div>
        </div>
      </ng-container>
      <!-- Vitrina 2 -->
      <ng-container *ngIf="checkVitrina2">
        <div class="row pl-3 pr-3">
          <div class="form-group col">
            <label for="vitrina2">Vitrina 2</label>
            <input type="text" name="vitrinaCodigo2" [(ngModel)]="vitrina2" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="vitrina2" list="vitrinaList" placeholder="Ingresar vitrina">
            <datalist id="vitrinaList">
              <option *ngFor="let vitrina of productosTipoVitrina" [value]="vitrina.codigo">
                {{vitrina.referencia}}
              </option>
            </datalist>
          </div>
          <div class="form-group col-sm-1">
            <label for="vitrinaCantidad2">Cantidad</label>
            <input type="number" name="vitrinaCantidad2" [(ngModel)]="cantidadProductos.vitrina2" class="form-control" id="vitrinaCantidad2">
          </div>
          <div class="form-group col-sm-2">
            <label for="vitrinaPrecioUnidad2">Precio unidad</label>
            <input type="number" name="vitrinaPrecioUnidad2" [value]="seleccionado.vitrina2.precio_venta" class="form-control" id="vitrinaPrecioUnidad2" disabled>
          </div>
          <div class="form-group col-sm-2">
            <label for="vitrinaPrecioFinal2">Precio final</label>
            <input type="number" name="vitrinaPrecioFinal2" [value]="seleccionado.vitrina2.precio_venta * cantidadProductos.vitrina2"
            class="form-control" id="vitrinaPrecioFinal2" disabled>
          </div>
        </div>
      </ng-container>
      <!-- Vitrina 3 -->
      <ng-container *ngIf="checkVitrina3">
        <div class="row pl-3 pr-3">
          <div class="form-group col">
            <label for="vitrina3">Vitrina 3</label>
            <input type="text" name="vitrinaCodigo3" [(ngModel)]="vitrina3" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="vitrina3" list="vitrinaList" placeholder="Ingresar vitrina">
            <datalist id="vitrinaList">
              <option *ngFor="let vitrina of productosTipoVitrina" [value]="vitrina.codigo">
                {{vitrina.referencia}}
              </option>
            </datalist>
          </div>
          <div class="form-group col-sm-1">
            <label for="vitrinaCantidad3">Cantidad</label>
            <input type="number" name="vitrinaCantidad3" [(ngModel)]="cantidadProductos.vitrina3" class="form-control" id="vitrinaCantidad3">
          </div>
          <div class="form-group col-sm-2">
            <label for="vitrinaPrecioUnidad3">Precio unidad</label>
            <input type="number" name="vitrinaPrecioUnidad3" [value]="seleccionado.vitrina3.precio_venta" class="form-control" id="vitrinaPrecioUnidad3" disabled>
          </div>
          <div class="form-group col-sm-2">
            <label for="vitrinaPrecioFinal3">Precio final</label>
            <input type="number" name="vitrinaPrecioFinal3" [value]="seleccionado.vitrina3.precio_venta * cantidadProductos.vitrina3"
            class="form-control" id="vitrinaPrecioFinal3" disabled>
          </div>
        </div>
      </ng-container>
      <!-- Vitrina 4 -->
      <ng-container *ngIf="checkVitrina4">
        <div class="row pl-3 pr-3">
          <div class="form-group col">
            <label for="vitrina4">Vitrina 4</label>
            <input type="text" name="vitrinaCodigo4" [(ngModel)]="vitrina4" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="vitrina4" list="vitrinaList" placeholder="Ingresar vitrina">
            <datalist id="vitrinaList">
              <option *ngFor="let vitrina of productosTipoVitrina" [value]="vitrina.codigo">
                {{vitrina.referencia}}
              </option>
            </datalist>
          </div>
          <div class="form-group col-sm-1">
            <label for="vitrinaCantidad4">Cantidad</label>
            <input type="number" name="vitrinaCantidad4" [(ngModel)]="cantidadProductos.vitrina4" class="form-control" id="vitrinaCantidad4">
          </div>
          <div class="form-group col-sm-2">
            <label for="vitrinaPrecioUnidad4">Precio unidad</label>
            <input type="number" name="vitrinaPrecioUnidad4" [value]="seleccionado.vitrina4.precio_venta" class="form-control" id="vitrinaPrecioUnidad4" disabled>
          </div>
          <div class="form-group col-sm-2">
            <label for="vitrinaPrecioFinal4">Precio final</label>
            <input type="number" name="vitrinaPrecioFinal4" [value]="seleccionado.vitrina4.precio_venta * cantidadProductos.vitrina4"
            class="form-control" id="vitrinaPrecioFinal4" disabled>
          </div>
        </div>
      </ng-container>

      <!-- Varios 1 -->
      <ng-container *ngIf="checkVarios1">
        <div class="row pl-3 pr-3">
          <div class="form-group col">
            <label for="varios1">Varios 1</label>
            <input type="text" name="variosCodigo1" [(ngModel)]="varios1" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="varios1" list="variosList" placeholder="Ingresar producto">
            <datalist id="variosList">
              <option *ngFor="let producto of productos" [value]="producto.codigo">
                {{producto.referencia}}
              </option>
            </datalist>
          </div>
          <div class="form-group col-sm-1">
            <label for="variosCantidad1">Cantidad</label>
            <input type="number" name="variosCantidad1" [(ngModel)]="cantidadProductos.varios1" class="form-control" id="variosCantidad1">
          </div>
          <div class="form-group col-sm-2">
            <label for="variosPrecioUnidad1">Precio unidad</label>
            <input type="number" name="variosPrecioUnidad1" [value]="seleccionado.varios1.precio_venta" class="form-control" id="variosPrecioUnidad1" disabled>
          </div>
          <div class="form-group col-sm-2">
            <label for="variosPrecioFinal1">Precio final</label>
            <input type="number" name="variosPrecioFinal1" [value]="seleccionado.varios1.precio_venta * cantidadProductos.varios1"
            class="form-control" id="variosPrecioFinal1" disabled>
          </div>
        </div>
      </ng-container>
      <!-- Varios 2 -->
      <ng-container *ngIf="checkVarios2">
        <div class="row pl-3 pr-3">
          <div class="form-group col">
            <label for="varios2">Varios 2</label>
            <input type="text" name="variosCodigo2" [(ngModel)]="varios2" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="varios2" list="variosList" placeholder="Ingresar producto">
            <datalist id="variosList">
              <option *ngFor="let producto of productos" [value]="producto.codigo">
                {{producto.referencia}}
              </option>
            </datalist>
          </div>
          <div class="form-group col-sm-1">
            <label for="variosCantidad2">Cantidad</label>
            <input type="number" name="variosCantidad2" [(ngModel)]="cantidadProductos.varios2" class="form-control" id="variosCantidad2">
          </div>
          <div class="form-group col-sm-2">
            <label for="variosPrecioUnidad2">Precio unidad</label>
            <input type="number" name="variosPrecioUnidad2" [value]="seleccionado.varios2.precio_venta" class="form-control" id="variosPrecioUnidad2" disabled>
          </div>
          <div class="form-group col-sm-2">
            <label for="variosPrecioFinal2">Precio final</label>
            <input type="number" name="variosPrecioFinal2" [value]="seleccionado.varios2.precio_venta * cantidadProductos.varios2"
            class="form-control" id="variosPrecioFinal2" disabled>
          </div>
        </div>
      </ng-container>
      <!-- Varios 3 -->
      <ng-container *ngIf="checkVarios3">
        <div class="row pl-3 pr-3">
          <div class="form-group col">
            <label for="varios3">Varios 3</label>
            <input type="text" name="variosCodigo3" [(ngModel)]="varios3" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="varios3" list="variosList" placeholder="Ingresar producto">
            <datalist id="variosList">
              <option *ngFor="let producto of productos" [value]="producto.codigo">
                {{producto.referencia}}
              </option>
            </datalist>
          </div>
          <div class="form-group col-sm-1">
            <label for="variosCantidad3">Cantidad</label>
            <input type="number" name="variosCantidad3" [(ngModel)]="cantidadProductos.varios3" class="form-control" id="variosCantidad3">
          </div>
          <div class="form-group col-sm-2">
            <label for="variosPrecioUnidad3">Precio unidad</label>
            <input type="number" name="variosPrecioUnidad3" [value]="seleccionado.varios3.precio_venta" class="form-control" id="variosPrecioUnidad3" disabled>
          </div>
          <div class="form-group col-sm-2">
            <label for="variosPrecioFinal3">Precio final</label>
            <input type="number" name="variosPrecioFinal3" [value]="seleccionado.varios3.precio_venta * cantidadProductos.varios3"
            class="form-control" id="variosPrecioFinal3" disabled>
          </div>
        </div>
      </ng-container>
      <!-- Varios 4 -->
      <ng-container *ngIf="checkVarios4">
        <div class="row pl-3 pr-3">
          <div class="form-group col">
            <label for="varios4">Varios 4</label>
            <input type="text" name="variosCodigo4" [(ngModel)]="varios4" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="varios4" list="variosList" placeholder="Ingresar producto">
            <datalist id="variosList">
              <option *ngFor="let producto of productos" [value]="producto.codigo">
                {{producto.referencia}}
              </option>
            </datalist>
          </div>
          <div class="form-group col-sm-1">
            <label for="variosCantidad4">Cantidad</label>
            <input type="number" name="variosCantidad4" [(ngModel)]="cantidadProductos.varios4" class="form-control" id="variosCantidad4">
          </div>
          <div class="form-group col-sm-2">
            <label for="variosPrecioUnidad4">Precio unidad</label>
            <input type="number" name="variosPrecioUnidad4" [value]="seleccionado.varios4.precio_venta" class="form-control" id="variosPrecioUnidad4" disabled>
          </div>
          <div class="form-group col-sm-2">
            <label for="variosPrecioFinal4">Precio final</label>
            <input type="number" name="variosPrecioFinal4" [value]="seleccionado.varios4.precio_venta * cantidadProductos.varios4"
            class="form-control" id="variosPrecioFinal4" disabled>
          </div>
        </div>
      </ng-container>
      <!-- Varios 5 -->
      <ng-container *ngIf="checkVarios5">
        <div class="row pl-3 pr-3">
          <div class="form-group col">
            <label for="varios5">Varios 5</label>
            <input type="text" name="variosCodigo5" [(ngModel)]="varios5" (ngModelChange)="getProductoByCodigo($event)" class="form-control" id="varios5" list="variosList" placeholder="Ingresar producto">
            <datalist id="variosList">
              <option *ngFor="let producto of productos" [value]="producto.codigo">
                {{producto.referencia}}
              </option>
            </datalist>
          </div>
          <div class="form-group col-sm-1">
            <label for="variosCantidad5">Cantidad</label>
            <input type="number" name="variosCantidad5" [(ngModel)]="cantidadProductos.varios5" class="form-control" id="variosCantidad5">
          </div>
          <div class="form-group col-sm-2">
            <label for="variosPrecioUnidad5">Precio unidad</label>
            <input type="number" name="variosPrecioUnidad5" [value]="seleccionado.varios5.precio_venta" class="form-control" id="variosPrecioUnidad5" disabled>
          </div>
          <div class="form-group col-sm-2">
            <label for="variosPrecioFinal5">Precio final</label>
            <input type="number" name="variosPrecioFinal5" [value]="seleccionado.varios5.precio_venta * cantidadProductos.varios5"
            class="form-control" id="variosPrecioFinal5" disabled>
          </div>
        </div>
      </ng-container>
      
      <!-- Mano obra -->
      <ng-container *ngIf="checkManoObra">
        <div class="form-group col-sm-10">
          <label for="manoObra">Mano de obra</label>
          <input type="text" name="manoObra" [(ngModel)]="servicio.descripcion_mano_obra_svcio" class="form-control" id="manoObra">
        </div>
        <div class="form-group col-sm-2">
          <label for="manoObraPrecioFinal">Precio final</label>
          <input type="number" name="manoObraPrecioFinal" [(ngModel)]="servicio.valor_mano_obra_svcio" class="form-control" id="manoObraPrecioFinal">
        </div>
      </ng-container>
      

      <!-- Pago total -->
      <div class="form-group col-sm-4 total-pagar">
        <button type="submit" class="btn btn-secondary btn-block" (click)="calcularTotalPrecio()">Calcular total</button>
      </div>
      <div class="form-group col-sm-4">
        <label for="totalPagar">Pago total</label>
        <input type="number" [(ngModel)]="servicio.total_precio_servicio" name="totalPagar" class="form-control" id="totalPagar" disabled>
      </div>
      <div class="form-group col-sm-4">
        <label for="totalPagarDescuento">Pago final</label>
        <input type="number" [(ngModel)]="servicio.total_precio_condescuento" name="totalPagarDescuento" class="form-control pago-descuento" id="totalPagarDescuento">
        <small class="text-muted">Obligatorio</small>
      </div>
    </div>

    <legend class="col-form-label col-sm-2 pt-0 align-self-center">Pago</legend>
    <div class="form-check align-self-center col-sm-2">
      <input class="form-check-input" type="radio" [(ngModel)]="servicio.estado_pago_svcio" name="opcionPago" id="pagoContado" [value]="opcionPago0">
      <label class="form-check-label" for="pagoContado">De contado</label>
    </div>
    <div class="form-check align-self-center col-sm-2">
      <input class="form-check-input" type="radio" [(ngModel)]="servicio.estado_pago_svcio" name="opcionPago" id="pagoCredito" [value]="opcionPago1">
      <label class="form-check-label" for="pagoCredito">A crédito</label>
    </div>
    <div class="form-group col-sm-6" *ngIf="servicio.estado_pago_svcio === 'credito'">
      <label for="telefono">Total adelanto</label>
      <input type="number" name="totalAdelanto" [(ngModel)]="servicio.valor_cancelado_svcio" class="form-control" id="telefono">
    </div>

    <div class="form-group col-sm-12">
      <label for="otros">Otros</label>
      <textarea class="form-control" [(ngModel)]="servicio.otros_svcio" name="otros" id="otros" rows="3" placeholder="Ingresar información adicional"></textarea>
    </div>

    <!-- Información del cliente -->
    <div class="col-sm-12">
      <p>
        <button id="btnInfoCliente" class="btn btn-outline-secondary btn-block" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="infoCliente infoMovimientosCliente">
          Información del cliente <i class="fas fa-chevron-down"></i>
        </button>
      </p>
      <div class="row info-adicional">
        <div class="col">
          <div class="collapse multi-collapse" id="infoCliente">
            <div class="card card-body" *ngIf="cliente">
              <p><strong>Nombre: </strong>{{nombreCliente}}</p>
              <p><strong>CC o Nit: </strong>{{cliente.cc_cliente}}</p>
              <p><strong>Dirección: </strong>{{cliente.direccion_cliente}}</p>
              <p><strong>Correo: </strong>{{cliente.correo_cliente}}</p>
              <p><strong>Teléfono: </strong>{{cliente.cel_cliente}}</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="collapse multi-collapse" id="infoMovimientosCliente">
            <div class="card card-body" *ngIf="servicioCompletoByIdCliente">
              <p><strong>Últimos movimientos</strong></p>
              <table class="table table-hover text-center">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"># Factura</th>
                    <th scope="col">Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let s of servicioCompletoByIdCliente; let i = index">
                    <ng-container *ngIf="i < 2">
                      <th scope="row">{{s.nro_factura_svcio}}</th>
                      <td>{{s.fecha_inicial_svcio | date: 'longDate'}}</td>
                    </ng-container>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group col-sm-12">
      <button type="submit" class="btn btn-primary btn-block" (click)="createServicio()">Guardar</button>
    </div>
  </div>
</form>