.row .col-3 {
  i.fas.fa-user-friends, i.fas.fa-car, i.fas.fa-box-open,
  i.fas.fa-print, i.fas.fa-sign-in-alt, i.fas.fa-sign-out-alt,
  i.fas.fa-money-check-alt, i.far.fa-credit-card {
    font-size: 40px;
    line-height: inherit;
  }
}

.card {
  cursor: pointer;
}
