<div class="row mt-3">
  <!-- Clientes -->
  <div class="col-3">
    <div class="card text-center" [routerLink]="['clientes']">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <i class="fas fa-user-friends"></i>
          </div>
          <div class="col-9">
            <h5 class="card-title font-weight-bold">{{cantidadClientes}}</h5>
            <h6 class="card-subtitle mb-2">Clientes registrados</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Vehiculos -->
  <div class="col-3">
    <div class="card text-center" [routerLink]="['vehiculos']">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <i class="fas fa-car"></i>
          </div>
          <div class="col-9">
            <h5 class="card-title font-weight-bold">{{cantidadVehiculos}}</h5>
            <h6 class="card-subtitle mb-2">Vehiculos registrados</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Productos -->
  <div class="col-3">
    <div class="card text-center" [routerLink]="['productos']">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <i class="fas fa-box-open"></i>
          </div>
          <div class="col-9">
            <h5 class="card-title font-weight-bold">{{cantidadProductos}}</h5>
            <h6 class="card-subtitle mb-2">Productos registrados</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Servicios -->
  <div class="col-3">
    <div class="card text-center" [routerLink]="['facturacion']">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <i class="fas fa-print"></i>
          </div>
          <div class="col-9">
            <h5 class="card-title font-weight-bold">{{cantidadServicios}}</h5>
            <h6 class="card-subtitle mb-2">Facturas registrados</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Entradas -->
<div class="row mt-3">
  <!-- Entradas hoy -->
  <div class="col-3">
    <div class="card text-center">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <i class="fas fa-sign-in-alt"></i>
          </div>
          <div class="col-9">
            <h5 class="card-title font-weight-bold">$ {{entradasDia}}</h5>
            <h6 class="card-subtitle mb-2">Entradas hoy</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Entradas mes -->
  <div class="col-3">
    <div class="card text-center">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <i class="fas fa-sign-in-alt"></i>
          </div>
          <div class="col-9">
            <h5 class="card-title font-weight-bold">$ {{entradasMes}}</h5>
            <h6 class="card-subtitle mb-2">Entradas mes</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Salidas hoy -->
  <div class="col-3">
    <div class="card text-center">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <i class="fas fa-sign-out-alt"></i>
          </div>
          <div class="col-9">
            <h5 class="card-title font-weight-bold">$ {{salidasDia}}</h5>
            <h6 class="card-subtitle mb-2">Salidas hoy</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Salidas mes -->
  <div class="col-3">
    <div class="card text-center">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <i class="fas fa-sign-out-alt"></i>
          </div>
          <div class="col-9">
            <h5 class="card-title font-weight-bold">$ {{salidasMes}}</h5>
            <h6 class="card-subtitle mb-2">Salidas mes</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Entradas -->
<div class="row mt-3">
  <!-- Creditos recibidos hoy -->
  <div class="col-3">
    <div class="card text-center">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <i class="far fa-credit-card"></i>
          </div>
          <div class="col-9">
            <h5 class="card-title font-weight-bold">$ {{presupuestoCreditoDia}}</h5>
            <h6 class="card-subtitle mb-2">Creditos recibidos hoy</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Creditos recibidos este mes -->
  <div class="col-3">
    <div class="card text-center">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <i class="far fa-credit-card"></i>
          </div>
          <div class="col-9">
            <h5 class="card-title font-weight-bold">$ {{presupuestoCreditoMes}}</h5>
            <h6 class="card-subtitle mb-2">Creditos recibidos este mes</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Ganancias hoy -->
  <div class="col-3">
    <div class="card text-center">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <i class="fas fa-money-check-alt"></i>
          </div>
          <div class="col-9">
            <h5 class="card-title font-weight-bold">$ {{gananciasDia}}</h5>
            <h6 class="card-subtitle mb-2">Ganancias recibidas hoy</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Ganancias mes -->
  <div class="col-3">
    <div class="card text-center">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <i class="fas fa-money-check-alt"></i>
          </div>
          <div class="col-9">
            <h5 class="card-title font-weight-bold">$ {{gananciasMes}}</h5>
            <h6 class="card-subtitle mb-2">Ganancias recibidas este mes</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-8">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Generar salida</h5>
        <form>
          <div class="row mt-3">
            <div class="col-sm-4">
              <input type="text" [(ngModel)]="salida.valor_sal" class="form-control" name="valorSalida" id="valorSalida" placeholder="Ingresar valor">
            </div>
            <div class="col-sm-8">
              <input type="text" [(ngModel)]="salida.motivo_sal" class="form-control" name="motivoSalida" id="motivoSalida" placeholder="Ingresar motivo">
            </div>
            <div class="col pt-3">
              <button type="submit" (click)="createSalida()" class="btn btn-primary btn-block">Generar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card text-center">
      <div class="card-body">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="checkPresupuesto" name="inlineRadioOptions" id="inlineRadio1" value="entradas" checked>
          <label class="form-check-label" for="inlineRadio1">Entradas</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="checkPresupuesto" name="inlineRadioOptions" id="inlineRadio2" value="salidas">
          <label class="form-check-label" for="inlineRadio2">Salidas</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [(ngModel)]="checkPresupuesto" name="inlineRadioOptions" id="inlineRadio3" value="ganancias">
          <label class="form-check-label" for="inlineRadio3">Ganancias</label>
        </div>
        <form>
          <div class="row mt-3">
            <div class="col-sm-3 pr-0">
                <label for="diaEntradaSalida">Dia</label>
              <input type="text" [(ngModel)]="presupuestoFecha.day" class="form-control" name="diaEntradaSalida" id="diaEntradaSalida">
            </div>
            <div class="col-sm-3 pr-0">
              <label for="mesEntradaSalida">Mes</label>
              <input type="text" [(ngModel)]="presupuestoFecha.mounth" class="form-control" name="mesEntradaSalida" id="mesEntradaSalida">
            </div>
            <div class="col-sm-6">
              <label for="anoEntradaSalida">Año</label>
              <input type="text" [(ngModel)]="presupuestoFecha.year" class="form-control" name="anoEntradaSalida" id="anoEntradaSalida">
            </div>
            <div class="col pt-3" *ngIf="checkPresupuesto === 'entradas'">
              <button type="submit" (click)="getPresupuestoEntradasFecha()" data-toggle="modal" data-target="#presupuestoModal" class="btn btn-primary btn-block">Entradas</button>
            </div>
            <div class="col pt-3" *ngIf="checkPresupuesto === 'salidas'">
              <button type="submit" (click)="getPresupuestoSalidasFecha()" data-toggle="modal" data-target="#presupuestoModal" class="btn btn-primary btn-block">Salidas</button>
            </div>
            <div class="col pt-3" *ngIf="checkPresupuesto === 'ganancias'">
              <button type="submit" (click)="getGananciasInFecha()" data-toggle="modal" data-target="#gananciasModal" class="btn btn-primary btn-block">Ganancias</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="presupuestoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Presupuesto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="presupuestoEntradasFechaDia">
        <p><b>Dia: </b>${{presupuestoEntradasFechaDia}}</p>
        <p><b>Mes: </b>${{presupuestoEntradasFechaMes}}</p>
        <p><b>Año: </b>${{presupuestoEntradasFechaAno}}</p>
      </div>
    </div>
  </div>
</div>
<!-- Modal ganancias -->
<div class="modal fade" id="gananciasModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Presupuesto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="gananciasFecha">
        <p><b>Ganancias: </b>${{gananciasFecha}}</p>
      </div>
    </div>
  </div>
</div>