<div class="row mt-3">
  <div class="input-group mb-3 col-9">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">
        <i class="fas fa-search"></i>
      </span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Buscar salida por motivo" aria-label="Buscar salida por motivo" aria-describedby="Buscar salida por motivo">
  </div>

  <div class="col-3">
    <button type="button" class="btn btn-secondary btn-block" (click)="cleanSalida()" data-toggle="modal" data-target="#modalSalida">
      Generar Salida
    </button>
  </div>
</div>

<div class="table-responsive">
<table class="table table-hover text-center">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Valor</th>
      <th scope="col">Motivo</th>
      <th scope="col">Fecha</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody *ngIf="salidas">
    <tr *ngFor="let s of salidas | filterSalida: filter ; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{s.valor_sal}}</td>
      <td>{{s.motivo_sal | truncate: 30}}</td>
      <td>{{s.fecha_sal | date: 'longDate'}}</td>
      <td>
        <i class="fas fa-edit" (click)="getSalida(s)" data-toggle="modal" data-target="#modalSalida"></i>
        <i class="fas fa-trash" (click)="deleteSalida(s._id)"></i>
        <i class="fas fa-search" (click)="getSalidaById(s._id)" data-toggle="modal" data-target="#modalDetalleSalida"></i>
      </td>
    </tr>
  </tbody>
</table>
</div>

<!-- Generar -->
<div class="modal fade" id="modalSalida" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Salida</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row mt-3">
            <div class="form-group col-sm-5">
              <label for="valorSalida">Valor</label>
              <input type="number" [(ngModel)]="salida.valor_sal" class="form-control" name="valorSalida" id="valorSalida" placeholder="Ingresar valor">
              <small class="form-text text-muted">Obligatorio</small>
            </div>
        
            <div class="form-group col-sm-7">
              <label for="motivoSalida">Motivo</label>
              <input type="text" [(ngModel)]="salida.motivo_sal" class="form-control" id="motivoSalida" name="motivoSalida" placeholder="Ingresar motivo">
              <small class="form-text text-muted">Obligatorio</small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button [hidden]="!editar" type="button" class="btn btn-primary" (click)="createSalida()" data-dismiss="modal">Generar</button>
        <button [hidden]="editar" type="button" class="btn btn-primary" (click)="updateSalida()" data-dismiss="modal">Editar</button>
      </div>
    </div>
  </div>
</div>

<!-- Detalle salida -->
<div class="modal fade" id="modalDetalleSalida" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Detalle salida</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="salidaById">
        <p><b>Fecha: </b>{{salidaById.fecha_sal | date: 'longDate'}}</p>
        <p><b>Valor: </b>{{salidaById.valor_sal}}</p>
        <p><b>Motivo: </b>{{salidaById.motivo_sal}}</p>
      </div>
    </div>
  </div>
</div>