<nav class="navbar">
  <a class="navbar-brand text-center" href="#">Detalle factura # {{servicio?.nro_factura_svcio}}</a>
  <button class="btn btn-success" (click)="imprimir('areaImprimir')">
    <i class="fas fa-print pr-2"></i>
    Imprimir
  </button>
</nav>
<!-- 
<style type="text/css" media="print">
  @page { size: legal landscape }
</style> -->

<div id="areaImprimir">
  <div class="row pr-3 pl-3 pt-3">
    <div class="col">
      <div style="width: 200px; height: 100px">
        <img src="./assets/img/logo.png" alt="Logo" style="width: 100%">
      </div>
    </div>
    <div class="col">
      <div style="width: 200px; height: 100px">
        <img src="./assets/img/autos.png" alt="Logo" style="width: 100%">
      </div>
    </div>
    <div class="col">
      <h3 class="text-center">Carlos A. Suarez</h3>
      <p class="mb-0 text-center line-height">NIT. 12457636 - 1</p>
      <p class="mb-0 text-center">REG. SIMPLIFICADO</p>
      <p class="mb-0 text-center line-height">Cra 20 # 14-35</p>
      <p class="mb-0 text-center">316 238 2044</p>
    </div>
    <div class="col">
      <div class="fac-venta">
        <h5 class="pt-3 text-center">FACTURA DE VENTA</h5>
        <p class="mb-0 pb-3 text-center"># {{servicio?.nro_factura_svcio}}</p>
      </div>
    </div>
  </div>
  <div class="row mr-3 ml-3 mt-1 mb-1 fac-venta">
    <div class="col-sm-6" *ngIf="cliente">
      <p class="text-success"><b>Cliente: {{cliente.nombres_cliente}} {{cliente.apellidos_cliente}}</b></p>
      <p><b>NIT: </b>{{cliente.cc_cliente}}</p>
      <p><b>Dirección: </b>{{cliente.direccion_cliente}}</p>
      <p><b>Teléfono: </b>{{cliente.cel_cliente}}</p>
    </div>
    <div class="col-sm-6">
      <p *ngIf="vehiculo" class="text-success"><b>Placa: {{vehiculo.placa_vh}}</b></p>
      <p><b>Fecha: </b>{{servicio?.fecha_inicial_svcio | date: 'longDate'}}</p>
      <p><b>Hora: </b>{{servicio?.fecha_inicial_svcio | date: 'shortTime'}}</p>
      <p><b>Forma pago: </b>{{servicio?.estado_pago_svcio}}</p>
    </div>
  </div>
  
  <div class="row pr-3 pl-3">
    <div class="col-12">
      <table class="table table-bordered table-hover text-center table-sm mb-1">
        <thead class="thead-light">
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Valor unidad</th>
            <th scope="col">Valor total</th>
          </tr>
        </thead>
        <tbody *ngIf="servicio?.productos_array">
          <tr *ngFor="let p of servicio.productos_array">
            <th scope="row">{{p.codigo}}</th>
            <td>{{p.referencia}}</td>
            <td>{{p.cantidad_actual}}</td>
            <td>{{p.precio_unidad}}</td>
            <td>{{p.precio_venta}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mr-3 ml-3 fac-venta" *ngIf="servicio">
    <div class="col-12">
      <p class="text-center">ESTA FACTURA DE VENTA SE ASIMILA EN TODOS SUS EFECTOS LEGALES A LA LETRA DE CAMBIO SEGUN EL ARTÍCULO 774 DEL CC</p>
    </div>
    <div class="col-4">
      <p *ngIf="servicio.descripcion_mano_obra_svcio"><b>Servicio: </b>{{servicio.descripcion_mano_obra_svcio}}</p>
      <p><b>Observaciones: </b>
        <span *ngIf="servicio.aceite_km_actual">Km act aceite: {{servicio.aceite_km_actual}} | </span>
        <span *ngIf="servicio.aceite_km_proximo">Km prox aceite: {{servicio.aceite_km_proximo}} | </span>
        <span *ngIf="servicio.caja_km_actual">Km act caja: {{servicio.caja_km_actual}} | </span>
        <span *ngIf="servicio.caja_km_proximo">Km prox caja: {{servicio.caja_km_proximo}} | </span>
        <span *ngIf="servicio.transmision_km_actual">Km act transmisión: {{servicio.transmision_km_actual}} | </span>
        <span *ngIf="servicio.transmision_km_proximo">Km prox transmisión: {{servicio.transmision_km_proximo}} | </span>
        {{servicio.otros_svcio}}
      </p>
    </div>
    <div class="col-4">
      <b>Firma</b>
    </div>
    <div class="col-4">
      <p><b>Servicio: </b>{{servicio.valor_mano_obra_svcio}}</p>
      <p><b>Subtotal: </b>{{servicio.total_precio_servicio}}</p>
      <p class="text-success"><b>Total: {{servicio.total_precio_condescuento}}</b></p>
      <p class="text-danger" *ngIf="servicio.estado_pago_svcio === 'credito'">
        <b>Valor cancelado: {{servicio.valor_cancelado_svcio}}</b>
      </p>
    </div>
  </div>
</div>
