<nav class="navbar">
  <a class="navbar-brand text-center" href="#">
    {{titulo}}
  </a>
</nav>
<form>
  <div class="row mt-3">
    <div class="form-group col-sm-4">
      <label for="nombre">Nombres</label>
      <input [(ngModel)]="cliente.nombres_cliente" type="text" class="form-control" name="nombres" id="nombre" placeholder="Ingresar nombres">
      <small class="text-muted">Obligatorio</small>
    </div>
    <div class="form-group col-sm-4">
      <label for="apellidos">Apellidos</label>
      <input [(ngModel)]="cliente.apellidos_cliente" type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Ingresar apellidos">
      <small class="text-muted">Obligatorio</small>
    </div>
    <div class="form-group col-sm-4">
      <label for="cc">CC o NIT</label>
      <input [(ngModel)]="cliente.cc_cliente" type="text" class="form-control" id="cc" name="cc" placeholder="Ingresar identificación">
      <small class="text-muted">Obligatorio</small>
    </div>

    <div class="form-group col-sm-6">
      <label for="direccion">Dirección</label>
      <input [(ngModel)]="cliente.direccion_cliente" type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingresar dirección">
    </div>

    <div class="form-group col-sm-6">
      <label for="email">Correo</label>
      <input [(ngModel)]="cliente.correo_cliente" type="email" class="form-control" id="email" name="email" placeholder="Ingresar email">
    </div>

    <div class="form-group col-sm-6">
      <label for="telefono">Teléfono</label>
      <input [(ngModel)]="cliente.cel_cliente" type="tel" class="form-control" id="telefono" name="telefono" placeholder="Ingresar teléfono">
    </div>

    <div class="form-group col-sm-6">
      <button [hidden]="edit" type="submit" class="btn btn-primary btn-block col-sm-6" (click)="createCliente()">Guardar</button>
      <button [hidden]="!edit" type="submit" class="btn btn-primary btn-block col-sm-6" (click)="updateCliente()">Guardar</button>
    </div>

  </div>
</form>