<div class="row mt-3">
  <div class="input-group mb-3 col-9">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">
        <i class="fas fa-search"></i>
      </span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Buscar factura" aria-label="Buscar factura" aria-describedby="Busca factura">
    
    <div class="form-check ml-3 pr-2 pt-2">
      <input class="form-check-input" [(ngModel)]="typeFilter" type="radio" name="cheackPlaca" id="cheackPlaca1" value="placa" checked>
      <label class="form-check-label" for="cheackPlaca1">
        Placa
      </label>
    </div>
    <div class="form-check pt-2">
      <input class="form-check-input" [(ngModel)]="typeFilter" type="radio" name="checkFecha" id="checkFecha" value="fecha">
      <label class="form-check-label" for="checkFecha">
        Fecha
      </label>
    </div>
  </div>

  <div class="col-3">
    <button type="button" class="btn btn-secondary btn-block" [routerLink]="['agregar']">
      Generar Factura
    </button>
  </div>
</div>

<table class="table table-hover text-center">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Vehiculo</th>
      <th scope="col">Cliente</th>
      <th scope="col">Pago</th>
      <th scope="col">Fecha</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody *ngIf="serviciosCompletos && typeFilter === 'placa'">
    <tr *ngFor="let s of serviciosCompletos | filterFactura: filter">
      <th scope="row">{{s.nro_factura_svcio}}</th>
      <td>{{s.placa_vh}}</td>
      <td>{{s.nombres_cliente}} {{s.apellidos_cliente}}</td>
      <td>{{s.estado_pago_svcio}}</td>
      <!-- <td>{{s.fecha_inicial_svcio | date: 'longDate'}}</td> -->
      <td>{{s.fecha_letras_svcio}}</td>
      <td>
        <i class="fas fa-search" [routerLink]="['detalle/', s.servicio_idServicio]"></i>
        <i class="fas fa-trash" (click)="deleteServicio(s.servicio_idServicio)"></i>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="serviciosCompletos && typeFilter === 'fecha'">
    <tr *ngFor="let s of serviciosCompletos | filterFacturaFecha: filter">
      <th scope="row">{{s.nro_factura_svcio}}</th>
      <td>{{s.placa_vh}}</td>
      <td>{{s.nombres_cliente}} {{s.apellidos_cliente}}</td>
      <td>{{s.estado_pago_svcio}}</td>
      <!-- <td>{{s.fecha_inicial_svcio | date: 'longDate'}}</td> -->
      <td>{{s.fecha_letras_svcio}}</td>
      <td>
        <i class="fas fa-search" [routerLink]="['detalle/', s.servicio_idServicio]"></i>
        <i class="fas fa-trash" (click)="deleteServicio(s.servicio_idServicio)"></i>
      </td>
    </tr>
  </tbody>
</table>