<div class="row mt-3">
  <div class="input-group mb-3 col-9">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">
        <i class="fas fa-search"></i>
      </span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Buscar vehiculo" aria-label="Buscar cliente" aria-describedby="Busca el cliente">
  </div>

  <div class="col-3">
    <button type="button" class="btn btn-secondary btn-block" [routerLink]="['agregar']">
      Agregar vehiculo
    </button>
  </div>
</div>

<table class="table table-hover text-center">
  <thead class="thead-light">
    <tr>
      <th scope="col">Placa</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Tipo</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody *ngIf="vehiculos">
    <tr *ngFor="let v of vehiculos | filterVehiculo: filter">
      <th scope="row">{{v.placa_vh}}</th>
      <td>{{v.marca_vh}}</td>
      <td>{{v.modelo_vh}}</td>
      <td>{{v.tipoVehiculos}}</td>
      <td>
        <i [routerLink]="['editar', v._id]" class="fas fa-edit"></i>
        <i class="fas fa-trash" (click)="deleteVehiculo(v._id)"></i>
        <i class="fas fa-search" (click)="getVehiculo(v)" data-toggle="modal" data-target="#modalVehiculo"></i>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="modalVehiculo" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Datos del vehiculo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="vehiculo && cliente">
       <div class="row">
          <div class="col-md-12">
            <p><b>Placa:</b> {{vehiculo.placa_vh}}</p>
            <p><b>Tipo de vehiculo:</b> {{vehiculo.tipoVehiculos}}</p>
            <p><b>Marca:</b> {{vehiculo.marca_vh}}</p>
            <p><b>Modelo:</b> {{vehiculo.modelo_vh}}</p>
            <p><b>Datos adicionales:</b> {{vehiculo.otros_vh}}</p>
          </div>
          <div class="col-md-12">
            <hr class="mb-4">
            <h5><b>Últimos cambios</b></h5>
            <p><b>Fecha: </b>{{vehiculo.fecha_modif_vh}}</p>
            <div class="row">
              <div class="col-6">
                <p><b>Aceite: </b>{{vehiculo.cambio_aceite ? 'Si' : 'No'}}</p>
                <p><b>Filtro de aceite: </b>{{vehiculo.cambio_filtro_aceite ? 'Si' : 'No'}}</p>
                <p><b>Filtro aire: </b>{{vehiculo.cambio_filtro_aire ? 'Si' : 'No'}}</p>
                <p><b>Filtro cabina: </b>{{vehiculo.cambio_filtro_cabina ? 'Si' : 'No'}}</p>
                <p><b>Filtro combustible: </b>{{vehiculo.cambio_filtro_combustible ? 'Si' : 'No'}}</p>
              </div>
              <div class="col-6">
                <p><b>Caja: </b>{{vehiculo.cambio_caja ? 'Si' : 'No'}}</p>
                <p><b>Transmisión: </b>{{vehiculo.cambio_transmision ? 'Si' : 'No'}}</p>
                <p><b>Aditivo: </b>{{vehiculo.cambio_aditivo ? 'Si' : 'No'}}</p>
                <p><b>Vitrina: </b>{{vehiculo.cambio_vitrina ? 'Si' : 'No'}}</p>
              </div>
            </div>
            
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Aceite</th>
                  <th scope="col">Km actual</th>
                  <th scope="col">Km Próximo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">{{vehiculo.aceite}}</td>
                  <td>{{vehiculo.aceite_km_actual}}</td>
                  <td>{{vehiculo.aceite_km_proximo}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12">
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Caja</th>
                  <th scope="col">Km actual</th>
                  <th scope="col">km Próximo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">{{vehiculo.caja}}</td>
                  <td>{{vehiculo.caja_km_actual}}</td>
                  <td>{{vehiculo.caja_km_proximo}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12">
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Transmision</th>
                  <th scope="col">Km actual</th>
                  <th scope="col">km Próximo</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">{{vehiculo.transmision}}</td>
                  <td>{{vehiculo.transmision_km_actual}}</td>
                  <td>{{vehiculo.transmision_km_proximo}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12">
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Fi aceite</th>
                  <th scope="col">Fi aire</th>
                  <th scope="col">Fi cabina</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">{{vehiculo.filtro_aceite}}</td>
                  <td>{{vehiculo.filtro_aire}}</td>
                  <td>{{vehiculo.filtro_cabina}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12">
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Fi combustible</th>
                  <th scope="col">Aditivo</th>
                  <th scope="col">Vitrina</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">{{vehiculo.filtro_combustible}}</td>
                  <td>{{vehiculo.aditivo}}</td>
                  <td>{{vehiculo.vitrina}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12">
            <hr class="mb-4">
            <h5>Datos del responsable</h5>
            <p><b>Nombre completo:</b> {{cliente.nombres_cliente}} {{cliente.apellidos_cliente}}</p>
            <p><b>CC o NIT:</b> {{cliente.cc_cliente}}</p>
            <p><b>Dirección:</b> {{cliente.direccion_cliente}}</p>
            <p><b>Email:</b> {{cliente.correo_cliente}}</p>
            <p><b>Teléfono:</b> {{cliente.cel_cliente}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer" *ngIf="vehiculo">
        <button type="button" [routerLink]="['../facturacion/agregar/', vehiculo._id]" data-dismiss="modal" class="btn btn-primary">Facturar</button>
      </div>
    </div>
  </div>
</div>