<div class="row mt-3">
  <div class="input-group mb-3 col-5">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">
        <i class="fas fa-search"></i>
      </span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Buscar producto" aria-label="Buscar cliente" aria-describedby="Busca el cliente">
  </div>
  <div class="col-2">
    <button type="button" class="btn btn-secondary btn-block" [routerLink]="['agregar']">
      Agregar
    </button>
  </div>
  <div class="col-3">
    <button type="button" class="btn btn-outline-secondary btn-block" data-toggle="modal" data-target="#modalAgregarExistente">
      Agregar existente
    </button>
  </div>
  <div class="col-2">
    <button type="button" class="btn btn-success btn-block" (click)="imprimir('areaImprimir')">
      <i class="fas fa-print"></i>
      Imprimir
    </button>
  </div>

</div>

<div id="areaImprimir">
  <table class="table table-hover text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Fecha</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody *ngIf="productos">
      <tr *ngFor="let p of productos | filterProducto: filter">
        <th scope="row">{{ p.codigo }}</th>
        <td>{{ p.referencia }}</td>
        <td>{{ p.cantidad_actual }}</td>
        <td>{{ p.fecha_letras_producto }}</td>
        <td>
          <i [routerLink]="['editar', p._id]" class="fas fa-edit"></i>
          <i class="fas fa-trash" (click)="deleteProducto(p._id)"></i>
          <i class="fas fa-search" (click)="getProducto(p)" data-toggle="modal" data-target="#modalDetalleProducto"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal detalles de producto -->
<div class="modal fade" id="modalDetalleProducto" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Detalles del producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="producto">
        <p><b>Tipo:</b> {{producto.tipo_producto}}</p>
        <p><b>Código:</b> {{producto.codigo}}</p>
        <p><b>Referencia:</b> {{producto.referencia}}</p>
        <p><b>Precio compra:</b> {{producto.precio_compra}}</p>
        <p><b>Precio venta:</b> {{producto.precio_venta}}</p>
        <p><b>Cantidad disponible:</b> {{producto.cantidad_actual}}</p>
        <p><b>Tipo de vehiculo compatible:</b> {{producto.tipo_vh_compatible}}</p>
        <p><b>Equivalencias:</b> {{producto.equivalencia}}</p>
        <p><b>Notas:</b> {{producto.notas}}</p>
      </div>
    </div>
  </div>
</div>

<!-- Modal agregar producto existente -->
<div class="modal fade" id="modalAgregarExistente" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Actualizar cantidad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row mt-3">
            <div class="form-group col-sm-9">
              <label for="codigo">Código</label>
              <input [(ngModel)]="codigoExistente" type="text" class="form-control" list="listaCodigo" name="codigo" id="codigo" placeholder="Ingresar código">
              <datalist id="listaCodigo"> 
                <option *ngFor="let producto of productos" [value]="producto.codigo">
                  {{ producto.referencia }} - Cantidad acual: {{ producto.cantidad_actual }}
                </option>
              </datalist> 
              <small class="form-text text-muted">Obligatorio</small>
            </div>
            <div class="form-group col-sm-3">
              <label for="cantidad">Cantidad</label>
              <input [(ngModel)]="cantidadNueva" type="number" class="form-control" id="cantidad" name="cantidad" placeholder="Ingresar cantidad">
              <small class="form-text text-muted">Obligatorio</small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="updateProducto()" data-dismiss="modal">Actualizar</button>
      </div>
    </div>
  </div>
</div>