<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['']">BetoCars</a>
</nav>

<nav class="nav flex-column">
  <a class="nav-link" [routerLink]="['clientes']"><i class="fas fa-user-friends"></i> Clientes</a>
  <a class="nav-link" [routerLink]="['vehiculos']"><i class="fas fa-car"></i> Vehiculos</a>
  <a class="nav-link" [routerLink]="['productos']"><i class="fas fa-box-open"></i> Productos</a>
  <a class="nav-link" [routerLink]="['facturacion']"><i class="fas fa-print"></i> Facturación</a>
  <a class="other-link" [routerLink]="['facturacion/credito']">- Crédito</a>
  <a class="other-link" [routerLink]="['facturacion/salida']">- Salida</a>
</nav>
