.navbar {
  padding-left: 30px;
}

.nav {
  padding-left: 15px;
  height: calc(100% - 56px);
  border-right: 1px solid lightgray;
  .nav-link {
    padding: 15px;
    i {
      margin-right: 5px;
    }
  }
  .other-link {
    padding-left: 45px;
    padding-bottom: 5px;
    &:hover {
      text-decoration: none;
    }
  }
}