@font-face {
  font-family: Poppins;
  src: local("Poppins"),
  local("Poppins-Regular"),
  url(./assets/fonts/Poppins-Regular.ttf);
  font-weight: 400;
}

* {
  font-family: "Poppins", sans-serif;
}

// Colores iconos acciones
tr td i {
  cursor: pointer;
  &.fas.fa-edit {
    margin: 0 10px;
    color: lightgreen;
  }
  &.fas.fa-trash {
    margin: 0 10px;
    color: lightcoral;
  }
  &.fas.fa-search {
    margin: 0 10px;
    color: gray;
  }
}