<div class="row mt-3">
  <div class="input-group mb-3 col-12">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">
        <i class="fas fa-search"></i>
      </span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Buscar factura por placa" aria-label="Buscar factura por placa" aria-describedby="Busca la factura por placa">
  </div>
</div>

<table class="table table-hover text-center">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Vehiculo</th>
      <th scope="col">Cliente</th>
      <th scope="col">Total deuda</th>
      <th scope="col">Fecha</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody *ngIf="serviciosCredito.length > 0 && serviciosCredito">
    <tr *ngFor="let s of serviciosCredito | filterFactura: filter">
      <th scope="row">{{s.nro_factura_svcio}}</th>
      <td>{{s.placa_vh}}</td>
      <td>{{s.nombres_cliente}}</td>
      <td>{{s.total_precio_condescuento - s.valor_cancelado_svcio}}</td>
      <td>{{s.fecha_inicial_svcio | date: 'longDate'}}</td>
      <td>
        <button class="btn btn-secondary btn-sm" (click)="getServicioCredito(s)" data-toggle="modal" data-target="#modalPagarCredito">Pagar</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="modalPagarCredito" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Pago de crédito</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="servicioCredito">
       <div class="row">
          <div class="col-sm-12">
            <h5><b>Cliente:</b> {{servicioCredito.nombres_cliente}} {{servicioCredito.apellidos_cliente}}</h5>
          </div>
        </div>
        
        <form>
          <div class="row mt-3">
            <div class="form-group col-sm-4">
              <label for="totalDeuda">Total</label>
              <input type="number" [value]="servicioCredito.total_precio_condescuento" class="form-control" name="totalDeuda" id="totalDeuda" disabled>
            </div>
            <div class="form-group col-sm-4">
              <label for="deudaPendiente">Deuda pendiente</label>
              <input type="number" [value]="servicioCredito.total_precio_condescuento - servicioCredito.valor_cancelado_svcio" class="form-control" id="deudaPendiente" name="deudaPendiente" disabled>
            </div>
            <div class="form-group col-sm-4">
              <label for="pago">Total a pagar</label>
              <input type="number" [(ngModel)]="pagoCuota" class="form-control" id="pago" name="pago" placeholder="Ingresar pago">
              <small class="form-text text-muted">Obligatorio</small>
            </div>
          </div>
          
          <div class="row" *ngIf="movimientosCredito">
            <div class="col-sm-12">
              <h4>Últimos movimientos</h4>
            </div>
            <div class="col-sm-12">
              <table class="table table-hover text-center">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Pagado</th>
                    <th scope="col">Deuda</th>
                    <th scope="col">Fecha</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let movimiento of movimientosCredito">
                    <th scope="row">{{movimiento.pago_cr}}</th>
                    <td>{{movimiento.saldo_cr}}</td>
                    <td>{{movimiento.fecha_ultimo_pago_cr | date: 'longDate'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="pagarCredito()" data-dismiss="modal">Pagar</button>
      </div>
    </div>
  </div>
</div>