<div class="row mt-3 mb-3">
  <div class="input-group col-9">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">
        <i class="fas fa-search"></i>
      </span>
    </div>
    <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Buscar cliente" aria-label="Buscar cliente" aria-describedby="Busca el cliente">

    <div class="form-check ml-3 pr-2 pt-2">
      <input class="form-check-input" [(ngModel)]="typeFilter" type="radio" name="cheackPlaca" id="cheackPlaca1" value="cc" checked>
      <label class="form-check-label" for="cheackPlaca1">
        Cédula
      </label>
    </div>
    <div class="form-check pt-2">
      <input class="form-check-input" [(ngModel)]="typeFilter" type="radio" name="checkFecha" id="checkFecha" value="nombre">
      <label class="form-check-label" for="checkFecha">
        Nombre
      </label>
    </div>
  </div>

  <div class="col-3">
    <button type="button" class="btn btn-secondary btn-block" href="#" [routerLink]="['agregar']">
      Agregar cliente
    </button>
  </div>
</div>

<table class="table table-hover text-center" >
  <thead class="thead-light">
    <tr>
      <th scope="col">Cédula</th>
      <th scope="col">Nombre</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody *ngIf="clientes && typeFilter === 'cc'">
    <tr *ngFor="let c of clientes | filterCliente: filter">
      <th scope="row">{{c.cc_cliente}}</th>
      <td>{{c.nombres_cliente}} {{c.apellidos_cliente}}</td>
      <td>{{c.cel_cliente}}</td>
      <td>
        <i [routerLink]="['editar', c._id]" class="fas fa-edit"></i>
        <i class="fas fa-trash" (click)="deleteCliente(c._id)"></i>
        <i class="fas fa-search" (click)="getCliente(c)" data-toggle="modal" data-target="#modalCliente"></i>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="clientes && typeFilter === 'nombre'">
    <tr *ngFor="let c of clientes | filtrarClienteNombre: filter">
      <th scope="row">{{c.cc_cliente}}</th>
      <td>{{c.nombres_cliente}} {{c.apellidos_cliente}}</td>
      <td>{{c.cel_cliente}}</td>
      <td>
        <i [routerLink]="['editar', c._id]" class="fas fa-edit"></i>
        <i class="fas fa-trash" (click)="deleteCliente(c._id)"></i>
        <i class="fas fa-search" (click)="getCliente(c)" data-toggle="modal" data-target="#modalCliente"></i>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal fade" id="modalCliente" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Perfil de cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="cliente">
        <p><b>Nombre completo:</b> {{cliente.nombres_cliente}} {{cliente.apellidos_cliente}}</p>
        <p><b>CC o NIT:</b> {{cliente.cc_cliente}}</p>
        <p><b>Dirección:</b> {{cliente.direccion_cliente}}</p>
        <p><b>Email:</b> {{cliente.correo_cliente}}</p>
        <p><b>Teléfono:</b> {{cliente.cel_cliente}}</p>
        <ng-container *ngIf="vehiculos">
          <div class="row" *ngFor="let vehiculo of vehiculos">
            <div class="col-md-12">
              <hr class="mb-4">
              <h5><b>Últimos cambios - Vehiculo: {{vehiculo.placa_vh}}</b></h5>
              <p><b>Fecha: </b>{{vehiculo.fecha_modif_vh}}</p>
              <div class="row mb-3">
                <div class="col-6">
                  <p><b>Aceite: </b>{{vehiculo.cambio_aceite ? 'Si' : 'No'}}</p>
                  <p><b>Filtro de aceite: </b>{{vehiculo.cambio_filtro_aceite ? 'Si' : 'No'}}</p>
                  <p><b>Filtro aire: </b>{{vehiculo.cambio_filtro_aire ? 'Si' : 'No'}}</p>
                  <p><b>Filtro cabina: </b>{{vehiculo.cambio_filtro_cabia ? 'Si' : 'No'}}</p>
                  <p><b>Filtro combustible: </b>{{vehiculo.cambio_filtro_combustible ? 'Si' : 'No'}}</p>
                </div>
                <div class="col-6">
                  <p><b>Caja: </b>{{vehiculo.cambio_caja ? 'Si' : 'No'}}</p>
                  <p><b>Transmisión: </b>{{vehiculo.cambio_transmision ? 'Si' : 'No'}}</p>
                  <p><b>Aditivo: </b>{{vehiculo.cambio_aditivo ? 'Si' : 'No'}}</p>
                  <p><b>Vitrina: </b>{{vehiculo.cambio_vitrina ? 'Si' : 'No'}}</p>
                  <button type="button" [routerLink]="['../facturacion/agregar/', vehiculo._id]" data-dismiss="modal" class="btn btn-primary">Facturar</button>
                </div>
              </div>
              
              <table class="table table-hover">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Aceite</th>
                    <th scope="col">Km actual</th>
                    <th scope="col">Km Próximo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{vehiculo.aceite}}</th>
                    <td>{{vehiculo.aceite_km_actual}}</td>
                    <td>{{vehiculo.aceite_km_proximo}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-12">
              <table class="table table-hover">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Caja</th>
                    <th scope="col">Km actual</th>
                    <th scope="col">km Próximo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{vehiculo.caja}}</th>
                    <td>{{vehiculo.caja_km_actual}}</td>
                    <td>{{vehiculo.caja_km_proximo}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-12">
              <table class="table table-hover">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Transmision</th>
                    <th scope="col">Km actual</th>
                    <th scope="col">km Próximo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{vehiculo.transmision}}</th>
                    <td>{{vehiculo.transmision_km_actual}}</td>
                    <td>{{vehiculo.transmision_km_proximo}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-12">
              <table class="table table-hover">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Fi aceite</th>
                    <th scope="col">Fi aire</th>
                    <th scope="col">Fi cabina</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{vehiculo.filtro_aceite}}</th>
                    <td>{{vehiculo.filtro_aire}}</td>
                    <td>{{vehiculo.filtro_cabina}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-12">
              <table class="table table-hover">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Fi combustible</th>
                    <th scope="col">Aditivo</th>
                    <th scope="col">Vitrina</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{vehiculo.filtro_combustible}}</th>
                    <td>{{vehiculo.aditivo}}</td>
                    <td>{{vehiculo.vitrina}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
